Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【release_step3.5】【新規作成】ST#2843_release_step3にPBI#2710の機能部分のみ追加
  Application/public/js/change-page.js
  Application/public/js/register-page.js
  Application/views/change.pug
  Application/views/tenant-register.pug
  Tests/__integration_tests__/change.integration.spec.js
  Tests/__integration_tests__/tenant-register.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ST#2837 Cokkieの設定修正
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

コンテナのtag名修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI1829】【製造】ST#2807_【実装】勘定科目一括作成画面
  Application/app.js
  Application/public/css/style.css
  Application/routes/accountUpload.js
  Application/views/accountUpload.pug
  Application/views/listCommonLayout.pug
  Application/views/portal.pug
  Application/views/uploadCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキー付与処理のコメントアウト
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2727】【実装】ST2728_UTコード作成
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
  Tests/mockInvoice/invoice31.js
Due: none

[PBI1829]【実装】勘定科目のアップロード処理
  Application/public/js/accountCodeUpload-page.js
  Application/routes/accountUpload.js
  Application/views/uploadCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1829】【実装】ST2822_インテグレーションテストコード作成
  Tests/__integration_tests__/uploadAccount.integration.spec.js
Due: none

【PBI2727】【レビュー対応】ST2853_インテグレーションテストコード修正
  Tests/__integration_tests__/portal.integration.spec.js
Due: none

【実装】アップロードしたCSVファイル削除
  Application/routes/accountUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1829】【製造】ST#2812_【実装】CSVファイル読み込み
  Application/controllers/accountUploadController.js
  Application/routes/accountUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Cokkie処理の復活
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【製造】ST#2743_ポータル画面へアイコン追加
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【製造】ST2770_インテグレーションテスト
  Tests/__integration_tests__/portal.integration.spec.js
Due: none

【PBI2611】【製造】【実装漏れ】ST#2743_アイコン追加
  Application/public/image/ts-app-digitaltrade-func-icon-olta-type1.svg
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【製造】ST#2747_説明文とリンク作成
  Application/public/css/style.css
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【レビュー後修正】レビュー対応
  Application/app.js
  Application/controllers/accountUploadController.js
  Application/public/js/accountCodeUpload-page.js
  Application/routes/accountCodeEdit.js
  Application/routes/accountCodeUpload.js
  Application/routes/csvDownload.js
  Application/routes/registAccountCode.js
  Application/views/layout.pug
  Application/views/uploadCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【製造】ST#2747_サポート説明文修正
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

DXストアから来たユーザーが登録した時に通知がでるようにする
  Application/routes/index.js
  Application/routes/tenant.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキーの期限を一日に延長
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】ソース整理
  Application/controllers/accountUploadController.js
  Application/public/js/accountCodeUpload-page.js
  Application/routes/accountCodeList.js
  Application/routes/accountUpload.js
  Application/views/accountUpload.pug
  Application/views/uploadCommonLayout.pug
  Tests/__integration_tests__/uploadAccount.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】ソース整理②
  Application/routes/accountCodeList.js
  Application/views/listCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【レビュー後修正】ST#2861_レビュー後修正
  Application/views/portal.pug
  Tests/__integration_tests__/portal.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【デプロイ】【実装漏れ】PBI1829ソース取り除く
  Application/app.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキーを読み込む為のパッケージ導入
  Application/app.js
  Application/package-lock.json
  Application/package.json
  Application/routes/tenant.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI1829]【実装】UTコード作成
  Application/controllers/accountUploadController.js
  Application/routes/accountCodeUpload.js
  Tests/__test__/controllers.accountUploadController.spec.js
  Tests/__test__/routes.accountCodeList.spec.js
  Tests/__test__/routes.accountCodeUpload.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/__test__/routes.registAccountCode.spec.js
  Tests/testData/accountCodeUpload_test1.csv
  Tests/testData/accountCodeUpload_test2.csv
  Tests/testData/accountCodeUpload_test3.csv
  Tests/testData/accountCodeUpload_test4.csv
  Tests/testData/accountCodeUpload_test5.csv
  Tests/testData/accountCodeUpload_test6.csv
  Tests/testData/accountCodeUpload_test7.csv
  Tests/testData/accountCodeUpload_test8.csv
  Tests/testData/accountCodeUpload_test9.csv
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
