Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【PBI#5568】サービス名修正
  Application/views/contractCancellation.pug
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5568】販売チャネルコードバリデーションの修正
  Application/views/layout.pug
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5441】【実装】ST#5623_UTテストコード修正①（承認待ちタブ）
  Tests/__test__/controllers.approvalInboxController.spec.js
Due: none

【PBI5441】【実装】ST#5639_ルート、コントローラー修正（支払依頼タブ）
  Application/DAO/RequestApprovalDAO.js
  Application/DTO/VO/UserAccounts.js
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/lib/approver/Approver.js
  Application/migrations/20220804051250-add_RequestApproval_columns.js
  Application/routes/api/noticeCount.js
  Application/routes/approvalInbox.js
  Application/routes/inbox.js
  Application/routes/requestApproval.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/readonlyInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Revert "【PBI5441】【実装】ST#5623_UTテストコード修正①（承認待ちタブ）"
  Tests/__test__/controllers.approvalInboxController.spec.js
Due: none

【PBI5441】【実装】ST#5619_UTテストコード修正①（承認待ちタブ）
  Tests/__test__/controllers.approvalInboxController.spec.js
Due: none

税のフォームを選択した際にモーダルが表示されるよう対応
  Application/public/js/pdfInvoice-page.js
  Application/views/invoicePDFLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5441】【実装】ST#5620 画面修正（支払依頼タブ）
  Application/controllers/approvalInboxController.js
  Application/routes/approvalInbox.js
  Application/routes/inbox.js
  Application/views/approvalInbox.pug
  Application/views/readonlyApprovalInbox.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/requestApproval.pug
  Application/views/requestApprovalBeforeRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5441】【実装】ST#5624_UTテストコード修正②（支払依頼タブ）①
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.inbox.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI5441】【実装】ST#5624_UTテストコード修正②（支払依頼タブ）②
  Application/views/readonlyInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5441】【実装】ST#5624_UTテストコード修正②（支払依頼タブ）
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/mockDB/Approval_Table1.js
Due: none

【PBI5441】【デプロイ】ST#5634
  Application/views/approvalInbox.pug
  Application/views/readonlyApprovalInbox.pug
  Application/views/readonlyInbox.pug
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5441】【デプロイ後修正】画面表示の際にユーザ比較部分削除
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5283】【実装】ST#5642_仕訳情報ダウンロード画面修正
  Application/public/css/old/journalDownload.css
  Application/views/old/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#4941 印影登録処理の追加
  Application/controllers/pdfInvoiceController.js
  Application/lib/storageCommon.js
  Application/public/js/imprintUpload-page.js
  Application/public/js/pdfInvoice-page.js
  Application/routes/imprintUpload.js
  Application/routes/pdfInvoice.js
  Application/views/imprintUpload.pug
  Application/views/invoicePDFHeader.pug
  Application/views/pdfInvoice.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4941 routesのテスト追加
  Tests/__test__/routes.imprintUpload.spec.js
Due: none

PBI#4941 既存テストコードの修正
  Tests/__test__/routes.pdfInvoice.spec.js
Due: none

重要事項説明差し替え
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5316】【製造】PB#5316_design_導入支援サービスの内容修正
  Application/public/css/informationLightplanModal.css
  Application/public/css/old/informationLightplanModal.css
  Application/public/image/informationLightplanModal.svg
  Application/public/image/informationLightplanModal2.svg
  Application/public/image/old/informationLightplanModal.svg
  Application/views/old/informationLightplanModal.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI4724】【実装】ST#5687_promise.allの共通化処理作成
  Application/DTO/VO/Invoice/InvoiceFactory.js
  Application/lib/promiseAll.js
  Application/routes/csvDownload.js
  Application/routes/journalDownload.js
  Application/service/FreeeService.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4724】【実装】ST#5689_【実装】UTテストコード修正①
  Tests/__test__/routes.csvDownload.spec.js
Due: none

【PBI731】【調査】ST#5703_支払依頼の際にメール通知のエラー
  Application/lib/mailMsg.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI731】【調査】ST#5703_支払依頼の際にメール通知のエラー②
  Tests/__test__/routes.approvalInbox.spec.js
Due: none

PBI#4941 Testにpackageを追加
  Tests/package.json
Due: none

PB#4941 package.json 更新
  Application/package.json
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#4944】PDF表示のデザイン改修対応
  Application/lib/pdfGenerator/generatePdf.js
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/js/pdfInvoice-page.js
  Application/routes/pdfInvoice.js
  Application/views/invoicePDFHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#4944】PDF表示のデザイン改修対応
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/css/invoicePDF.css
  Application/views/invoicePDFHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#4941 接続情報を環境変数に修正
  Application/lib/storageCommon.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4941 テスト用envに変数を追加
  Tests/config/.env
Due: none

UTエラーの解消
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/routes.csvupload.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge branch 'develop_v1.8.0.0' into PBI#4941
  Application/public/js/inboxList-page.js
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/routes.csvupload.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4723】【実装】ST#5779_アップロード処理のロジック変更
  Application/lib/promiseAll.js
  Application/routes/csvupload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

重要事項説明修正(8/17分)
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5783】請求書送付先宛名（会社名＋部課名）及びカナのバリデーション変更
  Application/routes/tenant.js
  Application/views/paidServiceRegister.pug
  Tests/__test__/routes.tenant.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST5704】【STEP9反映】Home画面の「ご利用中のプラン」（一般ユーザ）でもポップアップ表示される（ボタンは非活性）
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

POコメント反映
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5783】請求書送付先宛名（会社名＋部課名）及びカナのバリデーション変更
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5316】【製造】PB#5316_design_ご利用希望サービス見出し作成追加修正
  Application/public/css/paidServiceRegister.css
  Application/views/invoicePDFLines.pug
  Application/views/old/paidServiceRegisterTerms.pug
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
