Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

自動テスト_STEP7実装(90%)
  bcd-e2e-tests/page-objects/AccountCodeListPage.js
  bcd-e2e-tests/page-objects/DepartmentListPage.js
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/JournalMenuPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequestList_detail.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
Due: azure-pipelines-unittests.yml

【PBI5398】【製造】ST#5421_UTテストコード修正②
  Tests/__test__/controllers.contractController.spec.js
  Tests/mockDB/Contracts_Table2.js
Due: none

【PBI5398】【実装】 ST#5404_ モーダルから申込フォームへの遷移
  Application/views/informationLightplanModal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5398】【製造】ST#5421_UTテストコード修正②-2
  Tests/__test__/controllers.contractController.spec.js
Due: none

【PBI5398】【実装】ST#5408 UTテストコード修正①
  Tests/__test__/routes.helpers.middleware.spec.js
  Tests/__test__/routes.portal.spec.js
Due: none

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PB5397】PDF請求書一括アップロード割引対応 & 不具合修正
  Application/lib/csv.js
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/lib/pdfInvoiceCsvUploadValidation.js
  Application/public/html/PDF請求書ドラフト一括作成フォーマット.csv
  Application/public/html/pdfInvoiceCsvUpload.pdf
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_PDF請求書一括作成.pdf
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/pdfInvoiceUploadResult.js
  Application/public/js/services/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/pdfInvoiceCsvUpload.pug
  Application/views/portal.pug
  Tests/__test__/lib.pdfInvoiceCsvUploadValidation.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
  Tests/testData/pdfInvoiceUpload/success.csv
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5206】【追加】 ST#5438_「ユーザー登録なし」タグ変更
  Application/DTO/TradeshiftDTO.js
  Application/controllers/inboxController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

レビューコメントの反映
  Application/public/js/lib/utils.js
  Application/public/js/pdfInvoice-page.js
  Application/views/invoicePDFLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5398】【レビュー後修正】 非活性ボタン色修正
  Application/views/informationLightplanModal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

レビューコメント追加対応
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/js/lib/utils.js
  Application/public/js/pdfInvoice-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_シナリオ1,8更新
  bcd-e2e-tests/page-objects/SupportMenuPage.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario008.js
Due: azure-pipelines-unittests.yml

【レビュー後修正】導入支援サービスの契約中にも活性
  Application/views/informationLightplanModal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5436】ユーザの権限ロールの画面遷移時取得の修正
  Application/routes/cancellation.js
  Application/routes/change.js
  Application/routes/helpers/middleware.js
  Application/routes/uploadUsers.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】アイコンの差し替え
  Application/public/image/ts-app-digitaltrade-contract-app.svg
  Application/public/image/ts-app-digitaltrade-contract-introduction-support.svg
  Application/views/contractCancellation.pug
  Application/views/contractCancellationComplete.pug
  Application/views/contractDetail.pug
  Application/views/paidServiceRegisterComplete.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

追加修正
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/js/lib/utils.js
  Application/public/js/pdfInvoice-page.js
  Application/routes/pdfInvoice.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_規約画面に記載するスタンダードプランの重要事項説明（素案）_修正
  Application/public/css/old/paidServiceRegister.css
  Application/public/css/paidServiceRegister.css
  Application/views/old/paidServiceRegisterTerms.pug
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_規約画面に記載するスタンダードプランの重要事項説明（素案）_修正_revised
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】pugのマージ
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5213】請求書一括作成フォーマットファイル名変更
  Application/public/html/請求書一括作成フォーマット_v1.1.csv
  Application/routes/csvupload.js
  Application/views/portal.pug
  Tests/__integration_tests__/integration.spec.js
  Tests/__test__/routes.csvupload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_規約画面に記載するスタンダードプランの重要事項説明（素案）_修正_revised2とフロー図差し替え作業
  Application/public/css/informationLightplanModal.css
  Application/public/image/informationLightplanModal.svg
  Application/views/informationLightplanModal.pug
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_ご契約内容ページの変更への対応
  azure-pipelines-WR.yml
  bcd-e2e-tests/page-objects/ContractChangePage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/SettingMenuPage.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/register.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/utils/action-utils.js
Due: azure-pipelines-unittests.yml

【PB5397】レビュ指摘分不具合修正
  Application/controllers/pdfInvoiceController.js
  Application/lib/csv.js
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB5397】仮PDF請求一括マニュアル差し替え
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_PDF請求書ドラフト一括作成.pdf
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_PDF請求書一括作成.pdf
  Application/views/pdfInvoiceCsvUpload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】注意事項の切替（仮）
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_規約画面に記載するスタンダードプランの重要事項説明（素案）_「お申し込み内容入力へ」ボタンの非活性状態の色修正
  Application/public/css/paidServiceRegister.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB5107】ホーム画面レイアウト修正
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5355】【実装】 ST#5447_ CSRF対応①
  Application/routes/departmentCodeEdit.js
  Application/routes/departmentCodeList.js
  Application/routes/departmentCodeUpload.js
  Application/routes/inbox.js
  Application/routes/inboxList.js
  Application/routes/journalDownload.js
  Application/routes/registAccountCode.js
  Application/routes/registApproveRoute.js
  Application/routes/registDepartmentCode.js
  Application/routes/registSubAccountCode.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/routes/subAccountCodeEdit.js
  Application/routes/subAccountCodeList.js
  Application/routes/subAccountCodeUpload.js
  Application/routes/uploadFormat.js
  Application/routes/uploadFormatEdit.js
  Application/routes/uploadFormatList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5355】【実装】 ST#5447_ CSRF対応②
  Application/routes/accountCodeEdit.js
  Application/routes/accountCodeList.js
  Application/routes/accountCodeUpload.js
  Application/routes/approvalInbox.js
  Application/routes/approveRouteEdit.js
  Application/routes/approveRouteList.js
  Application/routes/cancellation.js
  Application/routes/change.js
  Application/routes/csvBasicFormat.js
  Application/routes/csvDownload.js
  Application/routes/csvupload.js
  Application/routes/csvuploadResult.js
  Application/routes/deleteAccountCode.js
  Application/routes/deleteApproveRoute.js
  Application/routes/deleteDepartmentCode.js
  Application/routes/deleteSubAccountCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5355】【実装】ST#5449_AJAXのCSRF対応_再コミット
  Application/public/js/accountCodeList-page.js
  Application/public/js/approveRouteList-page.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/inbox-page.js
  Application/public/js/inboxList-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registSubAccountCode-page.js
  Application/public/js/requestApproval-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/upload-page.js
  Application/public/js/uploadFormatList-page.js
  Application/views/approvalInbox.pug
  Application/views/approveRouteList.pug
  Application/views/cancellation.pug
  Application/views/change.pug
  Application/views/csvBasicFormat.pug
  Application/views/csvDownload.pug
  Application/views/csvupload.pug
  Application/views/inbox.pug
  Application/views/journalDownload.pug
  Application/views/listCommonLayout.pug
  Application/views/listDeparmentCommonLayout.pug
  Application/views/listSubAccountCommonLayout.pug
  Application/views/registApproveRoute.pug
  Application/views/registCommonLayout.pug
  Application/views/requestApproval.pug
  Application/views/uploadCommonLayout.pug
  Application/views/uploadFormat.pug
  Application/views/uploadFormatEdit.pug
  Application/views/uploadFormatList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5355】【実装】ST#5451_ UTコード作成②
  Tests/__test__/routes.departmentCodeEdit.spec.js
  Tests/__test__/routes.departmentCodeList.spec.js
  Tests/__test__/routes.departmentCodeUpload.spec.js
  Tests/__test__/routes.inbox.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.journalDownload.spec.js
  Tests/__test__/routes.registAccountCode.spec.js
  Tests/__test__/routes.registApproveRoute.spec.js
  Tests/__test__/routes.registDepartmentCode.spec.js
  Tests/__test__/routes.registSubAccountCode.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
  Tests/__test__/routes.searchAddressApi.spec.js
  Tests/__test__/routes.searchCompaniesApi.spec.js
  Tests/__test__/routes.subAccountCodeEdit.spec.js
  Tests/__test__/routes.subAccountCodeList.spec.js
  Tests/__test__/routes.subAccountCodeUpload.spec.js
  Tests/__test__/routes.uploadFormat.spec.js
  Tests/__test__/routes.uploadFormatEdit.spec.js
  Tests/__test__/routes.uploadFormatList.spec.js
Due: none

【BUG5355】【実装】 ST#5450_ UTコード作成①
  Tests/__test__/routes.accountCodeEdit.spec.js
  Tests/__test__/routes.accountCodeList.spec.js
  Tests/__test__/routes.accountCodeUpload.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.approveEdit.spec.js
  Tests/__test__/routes.approveRouteList.spec.js
  Tests/__test__/routes.cancellation.spec.js
  Tests/__test__/routes.change.spec.js
  Tests/__test__/routes.csvBasicFormat.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/__test__/routes.csvupload.spec.js
  Tests/__test__/routes.csvuploadResult.spec.js
  Tests/__test__/routes.deleteAccountCode.spec.js
  Tests/__test__/routes.deleteApproveRoute.spec.js
  Tests/__test__/routes.deleteDepartmentCode.spec.js
  Tests/__test__/routes.deleteSubAccountCode.spec.js
Due: none

【PB5499】PDF一括作成バグ修正
  Application/controllers/pdfInvoiceController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】スタンダードプランのみ時、利用開始日の最大1か月後までしか入力できないように修正
  Application/public/js/paidServiceRegister-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5355】【レビュー後修正】 ST#5500_ ソース修正対応
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4545】【実装】ST#5466_画面作成
  Application/app.js
  Application/public/css/style.css
  Application/public/html/取引先一括登録フォーマット.csv
  Application/routes/uploadSuppliers.js
  Application/views/portal.pug
  Application/views/uploadSuppliers.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
