Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【PBI3591】【実装漏れ】
  Tests/lib/apiManager.js
Due: none

【PBI3591】【デプロイ前】ST#3794_UTコードエラー修正
  Tests/__test__/routes.approveEdit.spec.js
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI3593】【製造】ST#3927_DBカラム追加（ローカル環境）
  Application/migrations/20220224021656-add_ApproveRoute_column_prevAprroveRouteId.js
  Application/migrations/20220224021656-add_ApproveRoute_column_updateFlag.js
  Application/models/approveRoute.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3782】【製造】【仕様変更】ST#3836_【実装】バリデーションチェック修正
  Application/controllers/approverController.js
  Application/lib/approver/Approver.js
  Application/public/js/registApproveRoute-page.js
  Application/routes/registApproveRoute.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3593】【製造】ST#3929_承認ルート一覧に表示する条件修正
  Application/controllers/approverController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3782】【製造】【仕様変更】ST#3836_【実装】バリデーションチェック修正【実装漏れ】
  Application/controllers/approverController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3782】【UTテストコード】【製造】ST#3837_【実装】UTコード修正
  Application/routes/registApproveRoute.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.registApproveRoute.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3782] ST#3835【実装】モーダル修正（検索・確認）
  Application/public/css/registApproveRoute.css
  Application/public/js/registApproveRoute-page.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3782】【UTテストコード】【追加実装】ST#3837_実装UTコード修正
  Tests/__test__/controllers.departmentCodeUploadController.spec.js
  Tests/__test__/routes.searchCompaniesApi.spec.js
Due: none

【PBI3782】【実装】ST#3838_インテグレーションテストコード修正
  Tests/__integration_tests__/registApproveRoute.integration.spec.js
Due: none

【PBI3593】【実装】ST#3887、ST#3888、ST#3889
  Application/controllers/approverController.js
  Application/routes/approveRouteEdit.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3782] レビュー後修正
  Application/public/css/registApproveRoute.css
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3782] 【漏れ対応】レビュー後修正
  Application/public/js/registApproveRoute-page.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3782]【試験後NG修正】
  Application/public/js/registApproveRoute-page.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3580]【実装】DB作成（ローカル環境）
  Application/migrations/20220225044827-create_approve_status.js
  Application/migrations/20220225044855-create_approve_request.js
  Application/models/approveRequest.js
  Application/models/approveStatus.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3593】【実装】ST#3922_インテグレーションテストコード
  Tests/__integration_tests__/approveRouteEdit.integration.spec.js
Due: none

【PBI3593】【製造】【実装】ST#3890_【実装】UTコード作成
  Application/controllers/approverController.js
  Application/routes/approveRouteEdit.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.approveEdit.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3593】【レビュー後修正】ST#3945_【レビュー後修正】実装レビューの対応
  Application/controllers/approverController.js
  Application/public/css/registApproveRoute.css
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3593】【レビュー後修正】ST#3900_【レビュー後修正】テストコード修正
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.approveEdit.spec.js
Due: none

【PBI3593】【デプロイ前】ST#3897_動作確認で発生した問題修正
  Application/controllers/approverController.js
  Application/public/js/registApproveRoute-page.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3593】【結合試験後】ST#3947_結合試験で発生したNG対応
  Application/public/js/registApproveRoute-page.js
  Application/routes/approveRouteEdit.js
  Tests/__test__/routes.approveEdit.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【実装】ST#3901_【実装】DB作成（開発環境）
  Application/seeders/20220228005708-add_approve_status.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3580]【実装】画面のURL設定（app.js）
  Application/app.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【実装】ST#3904_一覧画面修正
  Application/controllers/requestApprovalController.js
  Application/migrations/20220225044855-create_request_approval.js
  Application/models/requestApproval.js
  Application/public/css/inboxList.css
  Application/routes/inboxList.js
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【実装】ST#3904_一覧画面修正漏れ
  Application/models/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【実装】ST#3948_DB修正（RequestApproval,ApproveStatus）
  Application/migrations/20220225044827-create_approve_status.js
  Application/migrations/20220225044855-create_request_approval.js
  Application/seeders/20220228005708-add_approve_status.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【製造】ST#3905_承認依頼画面作成
  Application/controllers/approverController.js
  Application/public/css/requestApproval.css
  Application/public/js/requestApproval-page.js
  Application/routes/requestApproval.js
  Application/views/inboxList.pug
  Application/views/requestApprovaMessage.pug
  Application/views/requestApprovaRoute.pug
  Application/views/requestApproval.pug
  Application/views/requestApprovalInvoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【実装】UTコード作成①
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI3580】【製造】ST#3938_UTコード作成②
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.requestApprovalController.spec.js
Due: none

【PBI3580】【実装】ST#3909_インテグレーションテスト作成
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

【PBI3580】【製造】ST#3938_UTコード作成②-2
  Tests/__test__/routes.inboxList.spec.js
Due: none

【PBI3580】【実装】ST#3909_一覧画面修正再プッシュ
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【製造】Automergin
  Application/controllers/approverController.js
  Application/models/approveRoute.js
  Application/public/css/inbox.css
  Application/public/css/requestApproval.css
  Application/public/js/requestApproval-page.js
  Application/routes/inbox.js
  Application/routes/requestApproval.js
  Application/views/inbox.pug
  Application/views/inboxList.pug
  Application/views/requestApprovaRoute.pug
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【レビュー後修正】ST#3974_テストコード対応
  Tests/__integration_tests__/requestApproval.integration.spec.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.requestApprovalController.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

[PB#3580]【レビュー後修正】テストコード修正
  Tests/__test__/routes.inbox.spec.js
Due: none
