Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

[PBI2331][実装]ST2626_【実装】CSVダウンロード取得項目追加①_値チェック追加
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2626_【実装】CSVダウンロード取得項目追加①_漏れ修正
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2628]【実装】CSVダウンロード取得項目追加③ confilct対応1
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2696_【実装】CSVダウンロード取得項目追加①-GLN項目の処理追加
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB#2331】【製造】ST#2627_【実装】CSVダウンロード取得項目追加②
  Application/package.json
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2637_【実装】UTコード作成①
  Tests/__test__/routes.csvDownload.spec.js
  Tests/mockInvoice/invoice1.js
  Tests/mockInvoice/invoice10.js
  Tests/mockInvoice/invoice11.js
  Tests/mockInvoice/invoice12.js
  Tests/mockInvoice/invoice2.js
  Tests/mockInvoice/invoice4.js
  Tests/mockInvoice/invoice5.js
  Tests/mockInvoice/invoice6.js
  Tests/mockInvoice/invoice8.js
Due: none

[PBI2331][実装]ST2637_【実装】UTコード作成①
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2698]【実装】CSVダウンロード取得項目追加③-PO確認対応
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2698]【実装】CSVダウンロード取得項目追加③-PO確認対応- 明細が2つ以上の請求書をダウンロードする時Bug対応
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2637_【実装】UTコード作成①_テスト用apiManager修正
  Tests/lib/apiManager.js
Due: none

[PBI2698]【実装】CSVダウンロード取得項目追加③-PO確認対応- 支払い条件が複数場合の処理漏れ対応
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2638_【実装】UTコード作成②
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
  Tests/mockInvoice/invoice13.js
  Tests/package.json
Due: none

【PB#2331】【製造】ST#2629_【実装】CSVダウンロード取得項目追加④
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB#2331】【製造】ST#2705_【実装】CSVダウンロード取得項目追加⑤
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2639_【実装】UTコード作成③
  Application/routes/csvDownload.js
  Tests/mockInvoice/invoice14.js
  Tests/mockInvoice/invoice15.js
  Tests/mockInvoice/invoice16.js
  Tests/mockInvoice/invoice17.js
  Tests/mockInvoice/invoice18.js
  Tests/mockInvoice/invoice19.js
  Tests/mockInvoice/invoice20.js
  Tests/mockInvoice/invoice21.js
  Tests/mockInvoice/invoice22.js
  Tests/mockInvoice/invoice23.js
  Tests/mockInvoice/invoice24.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2331][実装]ST2639_【実装】UTコード作成③
  Tests/lib/apiManager.js
Due: none

[PBI2331][実装]ST2639_【実装】UTコード作成③_漏れたファイル
  Tests/__test__/routes.csvDownload.spec.js
Due: none

[PBI2331][実装]ST2640,2643_【実装】UTコード作成
  Application/routes/csvDownload.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
  Tests/mockInvoice/invoice14.js
  Tests/mockInvoice/invoice15.js
  Tests/mockInvoice/invoice16.js
  Tests/mockInvoice/invoice17.js
  Tests/mockInvoice/invoice18.js
  Tests/mockInvoice/invoice19.js
  Tests/mockInvoice/invoice20.js
  Tests/mockInvoice/invoice21.js
  Tests/mockInvoice/invoice22.js
  Tests/mockInvoice/invoice23.js
  Tests/mockInvoice/invoice24.js
  Tests/mockInvoice/invoice25.js
  Tests/mockInvoice/invoice26.js
  Tests/mockInvoice/invoice27.js
  Tests/mockInvoice/invoice28.js
  Tests/mockInvoice/invoice29.js
  Tests/mockInvoice/invoice30.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2331】【レビュー後修正】【指摘事項】未使用変数、コメント削除
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[ST2678][実装]【リファクタリング】インテグレーションテストコード修正
  Tests/__integration_tests__/cancellation.integration.spec.js
  Tests/__integration_tests__/change.integration.spec.js
  Tests/__integration_tests__/integration.spec.js
Due: none

【PBI2331】【朝会後修正】【実装変更】トレシフ変更により修正
  Application/routes/csvDownload.js
  Tests/__test__/routes.csvDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【リファクタリング】ST#2665_ポータルのESLintのエラー解決・コミットHook利用追加（「#」がついているエラーは未解決）
  Application/app.js
  Application/routes/auth.js
  Application/routes/cancellation.js
  Application/routes/helpers/error.js
  Application/routes/index.js
  Application/routes/portal.js
  Application/routes/tenant.js
  Application/routes/user.js
  Application/server.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ST#2709 リダイレクト処理の追加
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

docomoIDF環境デプロイ実装
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI2710】【製造】設定の変更画面住所入力改善
  Application/public/js/change-page.js
  Application/views/change.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2710][実装]ST2788_【実装】住所クリアボタン追加・処理（利用登録画面）
  Application/public/js/register-page.js
  Application/views/tenant-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB#2727】【製造】ST#2799_【実装】指摘対応①
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2727]【実装】指摘対応②
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2710][実装]ST2790_【実装】インテグレーションテストコード作成（利用登録画面）
  Tests/__integration_tests__/tenant-register.integration.spec.js
Due: none

【PB#2727】【製造】ST#2801_【実装】指摘対応③
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2710】【製造】変更画面の住所入力改善テスト
  Tests/__integration_tests__/change.integration.spec.js
Due: none

[PBI2727]【実装】指摘対応②
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2710][レビュー対応]ST2835_【レビュー後修正】実装
  Application/views/change.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PIB2727】【製造】ST#2806_インテグレーションテスト作成
  Tests/__integration_tests__/portal.integration.spec.js
Due: none

【レビュー後修正】実装レビュー対応
  Application/routes/csvDownload.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2727]【実装】指摘対応② conflict対応 show-modal削除
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ST#2873 Cookieのセット
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2727】【レビュー対応】ST2839_【レビュー後修正】実装
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
