Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandPush
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【PBI731】【リファクタリング】ST#2667_CSVダウンロード機能のエラー処理修正
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI731】【リファクタリング】ST#2668_UTコード作成
  Tests/__test__/routes.csvDownload.spec.js
Due: none

[PBI#731]【リファクタリング】一覧画面の項目名間隔を統一する
  Application/views/listCommonLayout.pug
  Application/views/listSubAccountCommonLayout.pug
  Application/views/uploadFormatList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI731】【リファクタリング】【後ほど修正】ST#3183_レビュー後修正
  Application/routes/csvDownload.js
  Tests/__test__/routes.csvDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3177】【リファクタリング】インテグレーションテストコードの修正
  Application/controllers/accountCodeController.js
  Tests/__integration_tests__/accountCodeEdit.integration.spec.js
  Tests/__integration_tests__/csvuploadResult.integration.spec.js
  Tests/__integration_tests__/registAccountCode.integration.spec.js
  Tests/__integration_tests__/tenant-register.integration.spec.js
  Tests/__integration_tests__/uploadFormat.integration.spec.js
  Tests/__integration_tests__/uploadFormatList.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#731]【リファクタリング】一覧画面の項目名間隔を統一する_補助科目一覧修正
  Application/views/listSubAccountCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1936]【修正】ST#3185_PO確認後修正
  Application/routes/accountCodeEdit.js
  Application/routes/searchCompaniesApi.js
  Application/routes/subAccountCodeEdit.js
  Application/views/registCommonLayout.pug
  Tests/__test__/routes.searchCompaniesApi.spec.js
  Tests/__test__/routes.subAccountCodeEdit.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【リリースブランチマージ】【バグ対応】ST#3186_CSVダウンロードの企業検索の不具合対応
  Application/routes/searchCompaniesApi.js
  Tests/__test__/routes.searchCompaniesApi.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【リファクタリング】プロントjavascript修正
  Application/public/js/accountCodeUpload-page.js
  Application/public/js/change-page.js
  Application/public/js/csvuploadResultDetail.js
  Application/public/js/registSubAccountCode-page.js
  Application/public/js/register-page.js
  Application/public/js/upload-page.js
  Application/public/js/uploadFormat-page.js
  Application/public/js/uploadFormatEdit-page.js
  Application/public/js/uploadFormatList-page.js
  Application/public/module/getElements.js
  Application/public/module/selector.js
  Application/views/accountUpload.pug
  Application/views/change.pug
  Application/views/csvupload.pug
  Application/views/csvuploadResult.pug
  Application/views/registSubAccountCode.pug
  Application/views/tenant-register.pug
  Application/views/uploadFormat.pug
  Application/views/uploadFormatEdit.pug
  Application/views/uploadFormatList.pug
  Application/views/user-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【製造】ST#3187_画面作成共通ファイル作成
  Application/app.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/inboxList.pug
  Application/views/invoiceFooter.pug
  Application/views/invoiceHeader.pug
  Application/views/invoiceLines.pug
  Application/views/invoiceOptions.pug
  Application/views/invoicePaymentMethod.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【実装】受領した請求書の詳細画面作成②
  Application/public/css/inbox.css
  Application/routes/inbox.js
  Application/views/invoiceOptions.pug
  Application/views/invoiceOptions_table.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【製造】共通ファイル共有
  Application/public/css/inbox.css
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#2173]【実装】受領した請求書の詳細画面作成② - invoiceOpotions_table.pug削除
  Application/views/invoiceOptions_table.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【実装】ST3189_受領した請求書の詳細画面作成③
  Application/public/css/invoicePaymentMethod.css
  Application/public/js/invoicePaymentMethod-page.js
  Application/routes/inbox.js
  Application/views/invoicePaymentMethod.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#2173]【実装】受領した請求書の詳細画面作成④
  Application/public/css/inbox.css
  Application/routes/inbox.js
  Application/views/invoiceLines.pug
  Application/views/invoiceOptions.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【製造】【実装】受領した請求書の詳細画面作成⑤
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Application/public/css/inbox.css
  Application/views/inbox.pug
  Application/views/invoiceFooter.pug
  Application/views/invoiceHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2373】【画面修正】ST#3274_画面レイアウト修正
  Application/public/css/inbox.css
  Application/views/inbox.pug
  Application/views/invoiceHeader.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【製造】ST#3193_【実装】受領した請求書の詳細表示処理①
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Application/routes/inbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【実装】ST3194_受領した請求書の詳細表示処理②
  Application/lib/invoiceDetail.js
  Application/public/css/invoicePaymentMethod.css
  Application/public/js/invoicePaymentMethod-page.js
  Application/routes/inbox.js
  Application/views/invoicePaymentMethod.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【実装】ST3196_UTコード作成①
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.inbox.spec.js
  Tests/mockInvoice/invoice32.js
  Tests/mockInvoice/invoice33.js
Due: none

【PBI2173】【実装】ST#3197_UTコード作成②
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: none

【PBI2173】【実装】【反映漏れ】ST#3197_UTコード作成②
  Tests/mockInvoice/invoice34.js
  Tests/mockInvoice/invoice35.js
  Tests/mockInvoice/invoice36.js
  Tests/mockInvoice/invoice37.js
  Tests/mockInvoice/invoice38.js
  Tests/mockInvoice/invoice39.js
  Tests/mockInvoice/invoice40.js
  Tests/mockInvoice/invoice41.js
Due: none

[PBI#2173]【実装】受領した請求書の詳細表示処理③
  Application/lib/invoiceDetail.js
  Application/routes/inbox.js
  Application/views/invoiceFooter.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#2173]【レビュー後修正】テストコードレビュー①対応
  Tests/__test__/routes.inbox.spec.js
Due: none

[PBI#2173]【レビュー後修正】テストコードレビュー①対応-使わない変数削除
  Tests/__test__/routes.inbox.spec.js
Due: none

【PBI2173】【レビュー後修正】ST#3232_レビュー後修正
  Application/lib/invoiceDetail.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【実装】ST#3210_インテグレーションテストコード作成
  Tests/__integration_tests__/inbox.integration.spec.js
Due: none

【PBI2173】【実装】ST#3206_UTコード作成③
  Tests/__test__/routes.inbox.spec.js
Due: none

[PBI#731]【リファクタリング】解約テーブルと契約テーブルの制約設定
  Application/migrations/20220111045111-add_cancellations_constraint.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【デプロイ前】【実装漏れ】ST#3283_請求書情報表示漏れ対応
  Application/lib/invoiceDetail.js
  Application/public/js/inbox-page.js
  Application/views/invoiceHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【レビュー後修正】ST#3281_固定税表示
  Application/lib/invoiceDetail.js
  Application/views/invoiceFooter.pug
  Application/views/invoiceLines.pug
  Tests/__test__/routes.inbox.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#731]【リファクタリング】データ送信処理のtry-catch横展開
  Application/routes/csvupload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【結合試験】【実装漏れ】明細内容表示ロジック修正
  Application/lib/invoiceDetail.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【デプロイ後修正】ST#3287_省略文字確認
  Application/public/css/inbox.css
  Application/views/invoiceHeader.pug
  Application/views/invoiceOptions.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【デプロイ後修正】【実装不良】ST#3287_省略文字確認
  Application/public/css/inbox.css
  Application/views/invoiceOptions.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2173】【デプロイ後修正】【サイズ変更】ST#3287_省略文字確認
  Application/public/css/inbox.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
