Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

補足説明の拡充
  Application/public/js/lib/utils.js
  Application/routes/pdfInvoice.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#4944】印影とロゴのデザイン改善
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/css/invoicePDF.css
  Application/public/css/style.css
  Application/views/imprintUpload.pug
  Application/views/invoicePDFHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5686】【実装】ST#5812_タグ付け処理開始条件の変更
  Application/DTO/TradeshiftDTO.js
  Application/controllers/applyOrderController.js
  Application/routes/paidServiceRegister.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5686】【実装】ST#5814_スタンダートプラン契約時に契約日以前の請求書へ一括タグ付け
  Application/controllers/applyOrderController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5686】【実装】ST#5834_UTコード修正①
  Tests/__test__/routes.paidServiceRegister.spec.js
Due: none

【BUG4206】【実装】ST#5829_承認者検索欄修正（画面）
  Application/public/js/registApproveRoute-page.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5686】【実装】ST#5814,5846_UTコード修正
  Tests/__test__/controllers.applyOrderController.spec.js
  Tests/mockInvoice/invoice5.js
Due: none

【PBI5686】【実装】ST#5903_タグ変更、ログ追加、UTコードレビュー対応
  Application/controllers/applyOrderController.js
  Tests/__test__/controllers.applyOrderController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4206】【実装】ST#5853_承認者検索処理修正
  Application/controllers/approverController.js
  Application/routes/searchApprover.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4206】【実装】ST#5853_承認者検索処理修正_名姓の順でも検索できる
  Application/controllers/approverController.js
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4206】【実装】ST#5853_controller修正
  Application/controllers/approverController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4206】【実装】ST#5854_UTテストコード修正②
  Tests/__test__/controllers.approverController.spec.js
Due: none

【PBI5686】【追加】ST#5910_結合試験不具合対応（検索機能）
  Application/DTO/TradeshiftDTO.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5686】【実装】スタンダートプラン契約時に契約日以前の請求書へ一括タグ付け
  Application/DTO/TradeshiftDTO.js
  Application/controllers/applyOrderController.js
  Application/routes/paidServiceRegister.js
  Tests/__test__/controllers.applyOrderController.spec.js
  Tests/__test__/routes.paidServiceRegister.spec.js
  Tests/mockInvoice/invoice5.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5667】【実装】ST#5857_バリデーション修正（validate.js）
  Application/lib/validate.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4206】【リリース】ST#5855_ブランチマージ
  Application/controllers/approverController.js
  Application/public/js/registApproveRoute-page.js
  Application/routes/searchApprover.js
  Application/views/registApproveRoute.pug
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

STEP8自動テスト（50%）
  bcd-e2e-tests/page-objects/BulkUploadUsersPage.js
  bcd-e2e-tests/page-objects/ContractCancelPage.js
  bcd-e2e-tests/page-objects/CsvUploadForPdfPage.js
  bcd-e2e-tests/page-objects/PaidServiceRegisterInputPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/PdfInvoicingPage.js
  bcd-e2e-tests/page-objects/RegistPdfInvoicePage.js
  bcd-e2e-tests/page-objects/SettingMenuPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/pdfInvoicing.js
  bcd-e2e-tests/spec/register_freePlan.js
  bcd-e2e-tests/spec/register_lightPlan.js
  bcd-e2e-tests/spec/setting_users.js
  bcd-e2e-tests/testdata/upload/PDF請求書ドラフト一括作成.csv
Due: azure-pipelines-unittests.yml

【PBI5667】【実装】ST#5859_絵文字入力制限②
  Application/public/js/registAccountCode-page.js
  Application/public/js/registDepartmentCode-page.js
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5667】【実装】ST#5858_絵文字入力制限①
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/registApproveRoute-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

UT
  Tests/__test__/routes.pdfInvoice.spec.js
Due: none

UTの文言修正
  Tests/__test__/lib.csv.spec.js
Due: none

csvファイルの変更に伴い、バージョン番号割り当てと文言表示
  Application/public/html/PDF請求書ドラフト一括作成フォーマット_v1.1.csv
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/pdfInvoiceCsvUpload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_承認者名欄変更への対応
  bcd-e2e-tests/page-objects/RegistApproveRoutePage.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
Due: azure-pipelines-unittests.yml

【BUG5667】【実装】ST#5883_UTコード修正（csvuploadエラー修正）
  Tests/__test__/routes.csvupload.spec.js
Due: none

【PBI5667】【デプロイ前】ST#5872_承認ルート不具合対応・仕訳情報登録文字変更
  Application/public/js/registAccountCode-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registDepartmentCode-page.js
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5667】【デプロイ前】ST#5872_eslint修正
  Application/lib/validate.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5667】【レビュー後修正】ST#5874_動作確認不具合対応・エラーメッセージ変更
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/registAccountCode-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registDepartmentCode-page.js
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5667】ST#5888_【リリース】ブランチマージ（PB#5667）
  Application/lib/validate.js
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/registAccountCode-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registDepartmentCode-page.js
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

コメントの補完と一部修正
  Application/public/js/pdfInvoice-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

#5902 請求書ダウンロード実装
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

#5915 ダウンロードUT
  Tests/__test__/routes.csvDownload.spec.js
Due: none

ラベル・税額に「undefined」と表示される問題の修正と不要行削除
  Application/public/js/pdfInvoice-page.js
  Application/views/invoicePDFLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

「0100」など0が表示されないよう修正
  Application/public/js/pdfInvoice-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ラベル毎の合算表示部分の修正
  Application/public/js/pdfInvoice-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ラベル毎の合算表示部分の計算修正
  Application/public/js/lib/utils.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF出力した際に、税の部分に税ラベルではなく税額にするよう修正
  Application/lib/pdfGenerator/renderInvoiceHTML.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5848】アップロード並列API処理の実装
  Application/controllers/invoiceDetailController.js
  Application/controllers/pdfInvoiceHistoryDetailController.js
  Application/routes/csvupload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストSTEP8（60%）
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/PaidServiceRegisterPage.js
  bcd-e2e-tests/page-objects/RegistPdfInvoicePage.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/pdfInvoicing.js
  bcd-e2e-tests/spec/register_lightPlan.js
  bcd-e2e-tests/utils/action-utils.js
Due: azure-pipelines-unittests.yml

【PBI5797】【実装】ST#5922_請求書検索ロジック変更
  Application/DTO/TradeshiftDTO.js
  Application/controllers/inboxController.js
  Application/routes/inboxList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5797】【実装】ST#5923_検索結果画面修正
  Application/public/css/inboxList.css
  Application/public/js/inboxList-page.js
  Application/views/inboxList.pug
  Application/views/inboxList_light_plan.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
