Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI1830】【製造】ST#2563_【実装】補助科目登録画面作成
  Application/app.js
  Application/public/js/registSubAccountCode-page.js
  Application/routes/registSubAccountCode.js
  Application/views/portal.pug
  Application/views/registCommonLayout.pug
  Application/views/registSubAccountCode.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1830]【実装】補助科目のテーブル作成（ローカル）
  Application/migrations/20211217013210-create_SubAccountCode.js
  Application/models/accountCode.js
  Application/models/subAccountCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3031】【実装漏れ】【画面追加変更】ページのログ高さの統一
  Application/routes/csvDownload.js
  Application/views/tenant-register.pug
  Tests/__integration_tests__/portal.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3031】【実装漏れ】【画面追加変更】ページのログ高さの統一
  Application/routes/csvDownload.js
  Application/views/tenant-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

App Service切替対応 (demo, prod, prodstg)
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI1830】【実装】ST2571_インテグレーションテストコード作成
  Tests/__integration_tests__/registSubAccountCode.integration.spec.js
Due: none

[PBI#1830]【実装変更】補助科目のテーブル作成（ローカル）accountCodeをFKから解除処理
  Application/migrations/20211217013210-create_SubAccountCode.js
  Application/migrations/20211217013219-add_SubAccountCode_constraint.js
  Application/models/accountCode.js
  Application/models/subAccountCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1830]【実装変更】補助科目のテーブル作成（ローカル）subAccountCodeテーブルからaccountCode削除処理
  Application/migrations/20211217013210-create_SubAccountCode.js
  Application/models/subAccountCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

App Service切替対応 (demo, prod, prodstg)
  Tests/jest-ci.config.js
Due: none

【PBI2848】【PO確認対応】ST#3042_ステータスの表記変更
  Application/routes/csvDownload.js
  Tests/__integration_tests__/csvDownload.integration.spec.js
  Tests/__test__/routes.csvDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【製造】ST#3029_勘定科目検索処理(画面含む)
  Application/controllers/accountCodeController.js
  Application/public/css/registSubAccountCode.css
  Application/public/js/registSubAccountCode-page.js
  Application/routes/registSubAccountCode.js
  Application/views/registCommonLayout.pug
  Application/views/registSubAccountCode.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1830]【実装】補助科目の登録処理
  Application/controllers/subAccountCodeController.js
  Application/routes/registSubAccountCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【release_step4】【PO確認対応】ST#3042_ステータスの表記変更
  Application/routes/csvDownload.js
  Tests/__integration_tests__/csvDownload.integration.spec.js
  Tests/__test__/routes.csvDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1831]【実装】補助科目一覧画面作成
  Application/app.js
  Application/public/js/subAccountCodeList-page.js
  Application/routes/subAccountCodeList.js
  Application/views/listSubAccountCommonLayout.pug
  Application/views/portal.pug
  Application/views/registSubAccountCode.pug
  Application/views/subAccountCodeList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1831]【実装修正】補助科目一覧画面作成-変数名をDBと合わせて修正
  Application/routes/subAccountCodeList.js
  Application/views/listSubAccountCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【製造】ST#2567_補助科目登録画面バリデーションチェック
  Application/controllers/subAccountCodeController.js
  Application/public/js/registSubAccountCode-page.js
  Application/routes/registSubAccountCode.js
  Application/views/registCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2848】【PO確認対応追加実装】ST#3046_ステータス（送金済み）追加（修正）
  Application/routes/csvDownload.js
  Tests/__integration_tests__/csvDownload.integration.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1831]【実装】補助科目一覧画面の処理
  Application/controllers/subAccountCodeController.js
  Application/models/subAccountCode.js
  Application/routes/subAccountCodeList.js
  Application/views/registSubAccountCode.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2848】【PO確認対応追加実装】ST#3046_Consoleログ削除
  Tests/lib/apiManager.js
Due: none

【PBI1830】【実装】ST2569_UTコード作成
  Tests/__test__/controllers.accountCodeController.spec.js
  Tests/__test__/controllers.subAccountCodeController.spec.js
  Tests/__test__/routes.registSubAccountCode.spec.js
Due: none

【release_step4】【PO確認対応追加実装】ST#3046_ステータス（送金済み）追加（修正）
  Application/routes/csvDownload.js
  Tests/__integration_tests__/csvDownload.integration.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【実装】UTコード作成
  Tests/__test__/controllers.subAccountCodeController.spec.js
  Tests/__test__/routes.subAccountCodeList.spec.js
Due: none

【PBI1831】【実装】ST2978_インテグレーションテストコード作成
  Tests/__integration_tests__/subAccountCodeList.integration.spec.js
Due: none

【PBI1830】【レビュー後修正】ST#3051_実装修正
  Application/controllers/accountCodeController.js
  Application/controllers/subAccountCodeController.js
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1831]【レビュー後修正】実装レビュー対応
  Application/controllers/subAccountCodeController.js
  Application/models/subAccountCode.js
  Application/public/js/subAccountCodeList-page.js
  Application/routes/registSubAccountCode.js
  Application/routes/subAccountCodeList.js
  Application/views/listSubAccountCommonLayout.pug
  Tests/__test__/controllers.accountCodeController.spec.js
  Tests/__test__/controllers.subAccountCodeController.spec.js
  Tests/__test__/routes.subAccountCodeList.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【レビュー後修正】ST#3053勘定科目検索結果修正
  Application/public/css/registSubAccountCode.css
  Application/public/js/registSubAccountCode-page.js
  Application/views/registCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【デプロイ時修正】ST#2500_勘定科目検索部分修正（チェックボックス、タイトル）
  Application/public/js/registSubAccountCode-page.js
  Application/views/registCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【デプロイ時修正】ST#2500_勘定科目検索部分修正（チェックボックス、タイトル）②
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【デプロイ後修正】ST#3054_勘定科目の検索部分修正
  Application/public/js/registSubAccountCode-page.js
  Application/views/registCommonLayout.pug
  Tests/__test__/controllers.subAccountCodeController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1830】【デプロイ後修正】ST#3054_勘定科目の検索部分修正（インテグレーションテストコード）
  Tests/__integration_tests__/registSubAccountCode.integration.spec.js
Due: none

【PBI1830】【デプロイ後修正】ST#3054_勘定科目の検索部分修正②
  Application/public/js/registSubAccountCode-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1831]【レビュー後修正】補助科目の一覧画面のHomeに戻るリンク名修正
  Application/routes/subAccountCodeList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1834】【製造】ST#2988_【実装】補助科目画面作成
  Application/app.js
  Application/controllers/subAccountCodeController.js
  Application/models/subAccountCode.js
  Application/public/js/subAccountCodeList-page.js
  Application/routes/subAccountCodeEdit.js
  Application/views/listSubAccountCommonLayout.pug
  Application/views/registCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1834】【製造】ST#2991_【実装】DBからデータ取得・画面に表示
  Application/controllers/subAccountCodeController.js
  Application/routes/subAccountCodeEdit.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1834】【実装】ST2993_インテグレーションテストコード作成
  Tests/__integration_tests__/accountCodeEdit.integration.spec.js
  Tests/__integration_tests__/subAccountCodeEdit.integration.spec.js
Due: none

【PBI1834】【製造】ST#2992_UTコード作成
  Tests/__test__/controllers.subAccountCodeController.spec.js
  Tests/__test__/routes.subAccountCodeEdit.spec.js
Due: none
