Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【PBI3580】【レビュー後修正】ST#3978_インテグレーションテストコード
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

[PB#3580]【レビュー後修正】テストコード修正CodeCoverage
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI3580】【レビュー後修正】ST#3977_【レビュー後修正】
  Application/controllers/approverController.js
  Application/migrations/20220225044855-create_request_approval.js
  Application/models/approveStatus.js
  Application/models/requestApproval.js
  Application/public/js/requestApproval-page.js
  Application/routes/requestApproval.js
  Application/seeders/20220228005708-add_approve_status.js
  Application/views/requestApprovaMessage.pug
  Application/views/requestApprovaRoute.pug
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【レビュー後修正】ST#3940_実装③のUTコード追加
  Tests/__test__/routes.requestApproval.spec.js
Due: none

[PB#3580]【レビュー後修正】保存処理修正や画面Flash処理
  Application/controllers/approverController.js
  Application/public/js/requestApproval-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【レビュー後修正】ポップアップ表示漏れ
  Application/public/js/inbox-page.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3580】【レビュー後修正】テストコード修正CodeCoverage②
  Tests/__test__/controllers.approverController.spec.js
Due: none

【PBI3580】【結合試験】【NG修正】ST#3920
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】ST#4012_承認依頼確認画面作成
  Application/app.js
  Application/controllers/approverController.js
  Application/public/css/approvalInbox.css
  Application/public/js/approvalInbox-page.js
  Application/routes/approvalInbox.js
  Application/routes/approvalInboxList.js
  Application/routes/requestApproval.js
  Application/views/approvaInboxMessage.pug
  Application/views/approvalInbox.pug
  Application/views/approvalInboxApprovRoute.pug
  Application/views/approvalInboxInvoiceLines.pug
  Application/views/preApproverMessage.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】ST#4012_承認依頼確認画面作成
  Application/views/registApproveRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】【実装】ST#4013_承認依頼確認画面処理➀
  Application/public/css/approvalInbox.css
  Application/routes/approvalInbox.js
  Application/views/preApproverMessage.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【実装】ST#4014_承認依頼確認画面処理②
  Application/public/js/approvalInbox-page.js
  Application/public/js/inbox-page.js
  Application/views/approvalInbox.pug
  Application/views/approvalInboxInvoiceLines.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】【実装】ST#4032_ログインユーザー判別処理
  Application/controllers/approverController.js
  Application/routes/approvalInbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3581]【実装】UTコード作成①
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.contractController.spec.js
  Tests/__test__/controllers.invoiceController.spec.js
  Tests/__test__/controllers.invoiceDetailController.spec.js
  Tests/__test__/controllers.postalNumberController.spec.js
  Tests/__test__/controllers.userController.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI3582】【製造】ST#4034_DB作成（ローカル環境）
  Application/migrations/20220304035235-create_approvalStatus.js
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
  Application/models/approvalStatus.js
  Application/models/requestApproval.js
  Application/seeders/20220304040136-add_approvalStatus.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】【実装】ST#4033_編集権限与える
  Application/app.js
  Application/controllers/approvalInboxController.js
  Application/controllers/inboxController.js
  Application/public/css/inboxList.css
  Application/public/js/inboxList-page.js
  Application/routes/approvalInbox.js
  Application/routes/inbox.js
  Application/views/approvalInbox.pug
  Application/views/approvalInboxHeader.pug
  Application/views/approvalInboxList.pug
  Application/views/approvalInboxpreApproverMessage.pug
  Application/views/approvalInvoiceFooter.pug
  Application/views/readonlyApprovaInboxMessage.pug
  Application/views/readonlyApprovalInbox.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxHeader.pug
  Application/views/readonlyApprovalInboxInvoiceLines.pug
  Application/views/readonlyApprovalInvoiceFooter.pug
  Application/views/readonlyInbox.pug
  Application/views/readonlyInvoiceFooter.pug
  Application/views/readonlyInvoiceHeader.pug
  Application/views/readonlyInvoiceLines.pug
  Application/views/readonlyInvoiceOptions.pug
  Application/views/readonlyInvoicePaymentMethod.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ポータル規約修正
  Application/public/html/terms-of-service_20220124.pdf
  Application/public/html/terms-of-service_20220308.html
  Application/public/html/terms-of-service_20220308.pdf
  Application/views/tenant-register.pug
  Application/views/user-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

OBC文言変更
  Application/obc/views/tos.hbs
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI3582】【デプロイ前修正】ST#4027_画面遷移先修正・編集可否部分修正
  Application/controllers/approvalInboxController.js
  Application/routes/inbox.js
  Application/views/readonlyApprovalInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【製造】ST#4016_インテグレーションテスト
  Tests/__integration_tests__/approvalInbox.integration.spec.js
Due: none

【実装】UTコード作成 ②
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: none

[PB#3581]【実装】UTコード作成①修正
  Tests/__test__/controllers.approvalInboxController.spec.js
Due: none

【レビュー後修正】DBカラム追加（ローカル環境・開発環境）
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

誤字修正
  Application/public/html/terms-of-service_20220308.html
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3582] ST#4065【レビュー後修正】DBカラム追加（ローカル環境・開発環境）
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3582] ST#4065【レビュー後修正】DBカラム追加（ローカル環境・開発環境）修正
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3582] ST#4065【レビュー後修正】DBカラム追加（ローカル環境・開発環境）修正:ApprovalAt
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

メール送信機能
  Application/lib/mailtest.js
  Application/package.json
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

OBC マニュアル修正
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_商奉行クラウド連携機能.pdf
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

メール送信機能のモジュールexport追加
  Application/lib/mailtest.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【レビュー後修正】ST#4066_UTコード
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI3581】【レビュー後修正】ST#4067_インテグレーションテスト
  Tests/__integration_tests__/approvalInbox.integration.spec.js
Due: none

【PBI3581】【レビュー後修正】実装コメント修正
  Application/controllers/approverController.js
  Application/controllers/inboxController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【デプロイ後修正】【実装漏れ】UTコード追加（routes.approvalInboxList.spec.js）
  Tests/__test__/routes.approvalInboxList.spec.js
Due: none

【PBI3581】【デプロイ後修正】【結合試験NG修正】ST#4068
  Application/controllers/inboxController.js
  Application/views/approvalInbox.pug
  Application/views/approvalInboxpreApproverMessage.pug
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/mockDB/DepartmentCode_Table.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【実装】承認依頼処理修正
  Application/controllers/approverController.js
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【デプロイ後修正】【結合試験NG修正】ST#4069
  Application/public/js/approvalInbox-page.js
  Application/public/js/inbox-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3581】【デプロイ後修正】【結合試験NG修正】ST#4069②
  Application/routes/approvalInbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
