Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【PBI4403】【製造】【インテグレーションテスト】ST#4514_インテグレーションテスト②
  Tests/__integration_tests__/approvalInbox.integration.spec.js
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

PB#4403 ST#4538【レビュー後修正】テストコードレビュー後修正
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

PDF請求書作成画面モック作成
  Application/app.js
  Application/public/css/style.css
  Application/public/image/ts-app-digitaltrade-func-icon-pdf_invoices.svg
  Application/public/js/pdfInvoiceList-page.js
  Application/routes/pdfInvoiceList.js
  Application/routes/pdfInvoiceRegister.js
  Application/views/listPdfInvoiceCommonLayout.pug
  Application/views/listpdfInvoiceCommonLayout.pug
  Application/views/pdfInvoiceList.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

パイプラインseed処理修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

[PB#4403] ST#4543【レビュー後修正】実装及びUTコード修正
  Application/routes/inbox.js
  Tests/__test__/routes.inbox.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4403】【結合試験】【事象発生】Connection-Timeoutの対応
  Application/models/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4403】【結合試験】【事象改善】プール数の増量
  Application/models/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4403】【結合試験】【改善戻す】事前仕様に戻す
  Application/models/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

販売担当者フォーム修正
  Application/views/tenant-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

共通CSS修正
  Application/public/css/style.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3553】フォームの全角入力規制を修正
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【製造】【画面】ST#4546_仕訳情報ダウンロード画面の機能追加
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【製造】【インフラストラクチャー】ST#4556_TradeshiftDTOの機能追加
  Application/DTO/TradeshiftDTO.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF出力ライブラリ追加
  Application/lib/pdfGenerator/generatePdf.js
  Application/lib/pdfGenerator/images/sample.jpg
  Application/lib/pdfGenerator/index.js
  Application/lib/pdfGenerator/invoice.pug
  Application/lib/pdfGenerator/public/index.html
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/package.json
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF出力のエラーハンドリング追加
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#4159] ST#4580【実装】仕訳情報ダウンロード画面の機能追加
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【実装】ST#4564_インテグレーション修正
  Tests/__integration_tests__/journalDownload.integration.spec.js
Due: none

【PBI4155】【実装】ST#4558_請求書オブジェクト作成
  Application/DTO/VO/Invoice.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【製造】【サービス機能】ST#4555_YayoiService作成
  Application/DTO/TradeshiftDTO.js
  Application/DTO/VO/Invoice/Coding.js
  Application/DTO/VO/Invoice/Invoice.js
  Application/DTO/VO/Invoice/InvoiceFactory.js
  Application/DTO/VO/Invoice/Item.js
  Application/DTO/VO/Invoice/Yayoi.js
  Application/controllers/journalDownloadController.js
  Application/models/contract.js
  Application/routes/journalDownload.js
  Application/service/YayoiService.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF出力ライブラリをplaywright方式に切替
  Application/lib/pdfGenerator/bk/generatePdf.js
  Application/lib/pdfGenerator/generatePdf.js
  Application/package.json
  Application/routes/demo2.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

モジュール読み込み不具合を修正
  Application/lib/pdfGenerator/bk/generatePdf.js
  Application/lib/pdfGenerator/generatePdf.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプライン構成ファイル修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

playwrihtの為にパッケージ更新
  Application/package.json
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF生成関数修正
  Application/lib/pdfGenerator/generatePdf.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF出力をpuppeteer形式に戻す
  Application/lib/pdfGenerator/generatePdf.js
  Application/package.json
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプライン商用デプロイタスク修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Revert "パイプライン商用デプロイタスク修正"
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

STEP5_仕訳情報管理機能の自動テストを実装
  bcd-e2e-tests/page-objects/AccountCodeListPage.js
  bcd-e2e-tests/page-objects/ApproveRouteListPage.js
  bcd-e2e-tests/page-objects/DepartmentListPage.js
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/JournalMenuPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/RegistAccountCodePage.js
  bcd-e2e-tests/page-objects/RegistDepartmentPage.js
  bcd-e2e-tests/page-objects/RegistSubAccountCodePage.js
  bcd-e2e-tests/page-objects/SubAccountCodeListPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/page-objects/UploadAccountCodePage.js
  bcd-e2e-tests/page-objects/UploadDepartmentPage.js
  bcd-e2e-tests/page-objects/UploadSubAccountCodePage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
  bcd-e2e-tests/testdata/upload/TESTCSV01.csv
  bcd-e2e-tests/testdata/upload/TESTCSV07.csv
  bcd-e2e-tests/testdata/upload/TESTCSV08.csv
  bcd-e2e-tests/testdata/upload/TESTCSV21.csv
  bcd-e2e-tests/testdata/upload/TESTCSV27.csv
  bcd-e2e-tests/testdata/upload/TESTCSV28.csv
  bcd-e2e-tests/testdata/upload/TESTCSV41.csv
  bcd-e2e-tests/testdata/upload/TESTCSV47.csv
  bcd-e2e-tests/testdata/upload/TESTCSV48.csv
  bcd-e2e-tests/testdata/upload/勘定科目一括アップロード試験１.csv
  bcd-e2e-tests/testdata/upload/補助科目一括アップロード試験１.csv
Due: azure-pipelines-unittests.yml

Update azure-pipelines-WR.yml (Added step5's scenarios)
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

PB#3872 DB定義の追加
  Application/migrations/20220422081739-create-pdf-info.js
  Application/migrations/20220422083926-create-pdf-info-detail.js
  Application/migrations/20220422084303-create-pdf-imprint.js
  Application/migrations/20220422084316-create-pdf-info-tax.js
  Application/models/pdfimprint.js
  Application/models/pdfinfo.js
  Application/models/pdfinfodetail.js
  Application/models/pdfinfotax.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【製造】【コントローラ】ST#4544_ルーター及びコントローラ修正
  Application/DTO/VO/Invoice.js
  Application/DTO/VO/Invoice/AllowanceCharge.js
  Application/DTO/VO/Invoice/Coding.js
  Application/DTO/VO/Invoice/CustomerParty.js
  Application/DTO/VO/Invoice/Delivery.js
  Application/DTO/VO/Invoice/DocumentReference.js
  Application/DTO/VO/Invoice/Index.js
  Application/DTO/VO/Invoice/Invoice.js
  Application/DTO/VO/Invoice/InvoiceFactory.js
  Application/DTO/VO/Invoice/InvoiceLine.js
  Application/DTO/VO/Invoice/Item.js
  Application/DTO/VO/Invoice/LegalMonetaryTotal.js
  Application/DTO/VO/Invoice/Party.js
  Application/DTO/VO/Invoice/PaymentMeans.js
  Application/DTO/VO/Invoice/Price.js
  Application/DTO/VO/Invoice/SupplierParty.js
  Application/DTO/VO/Invoice/TaxCategory.js
  Application/DTO/VO/Invoice/TaxSubTotal.js
  Application/DTO/VO/Invoice/TaxTotal.js
  Application/DTO/VO/Invoice/Yayoi.js
  Application/routes/journalDownload.js
  Application/service/YayoiService.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Fixed opning browser
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
Due: azure-pipelines-unittests.yml

【PBI4155】【実装】ST#4559_弥生会計CSVダウンロードサービス作成
  Application/DTO/VO/Invoice/Delivery.js
  Application/DTO/VO/Invoice/InvoiceFactory.js
  Application/DTO/VO/Invoice/SupplierParty.js
  Application/DTO/VO/Invoice/Yayoi.js
  Application/DTO/VO/Invoice/index.js
  Application/routes/journalDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4155】【製造】【実装】ST#4562_UTテストコード作成➀
  Application/DTO/VO/Invoice/Coding.js
  Application/controllers/journalDownloadController.js
  Application/routes/journalDownload.js
  Tests/__test__/routes.journalDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
