Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI3586】【デプロイ前】ST#4006_ デプロイ前動作不具合対応
  Application/DTO/VO/WaitingWorkflow.js
  Application/app.js
  Application/controllers/approverController.js
  Application/public/js/inboxList-page.js
  Application/routes/approvalInboxList.js
  Application/routes/inboxList.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/seeders/20220228005708-add_approve_status.js
  Application/views/approvalInboxList.pug
  Application/views/inboxList.pug
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.approvalInboxList.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【製造】【画面実装】ST#4145_支払依頼の通知をHOME画面で表示する
  Application/public/css/style.css
  Application/routes/inboxList.js
  Application/routes/portal.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【製造】【実装漏れ】ST#4145_支払依頼の通知をHOME画面で表示する
  Application/routes/portal.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST#4152】マイグレーションファイルのFKの名前取得方法変更
  Application/migrations/20220311111758-remove_constraint_fk_approveRouteId.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3584] ST#4147【実装】通知件数取得処理
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

メール送信機能　テストの実装
  Application/lib/sendMail.js
  Tests/__test__/controllers.departmentCodeUploadController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 メッセージの修正
  Application/constants/constLogMessageDefiner.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【製造】【実装】UTコード修正
  Application/routes/inboxList.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.portal.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 テストの追加
  Tests/__test__/lib.sendMail.spec.js
Due: none

[PB#3584] ST#4146【実装】UTコード作成
  Application/routes/portal.js
  Tests/__test__/routes.portal.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated webdriver-utils.js
  bcd-e2e-tests/utils/webdriver-utils.js
Due: azure-pipelines-unittests.yml

パイプラインymlファイルをStep5仕様に更新
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml
