Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

PB#3589 メール送信機能の修正
  Application/config/.env
  Application/lib/sendMail.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 スペルミス修正
  Application/lib/sendMail.js
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

エイリアス変更
  Application/lib/mailtest.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 テスト修正
  Application/lib/sendMail.js
  Tests/__test__/lib.sendMail.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI731】【仕様変更】ST#4182_承認待ちタブの依頼者と承認者が同一人の場合、重複表示を避ける機能追加
  Application/DTO/RequestApprovalDTO.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【実装】ST#4165_メール通知処理（共通処理、承認処理）①
  Application/config/.env
  Application/constants/constLogMessageDefiner.js
  Application/constants/constMailMsg.js
  Application/constants/index.js
  Application/lib/sendMail.js
  Application/lib/setenv.js
  Application/package.json
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#731] ST#4181【修正】承認ルート削除エラーメッセージ
  Application/public/js/accountCodeList-page.js
  Application/public/js/approveRouteList-page.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/uploadFormatList-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 JSDocの修正
  Application/lib/sendMail.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated citest.js
  bcd-e2e-tests/spec/citest.js
Due: azure-pipelines-unittests.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

Updated webdriver-utils.js
  bcd-e2e-tests/utils/webdriver-utils.js
Due: azure-pipelines-unittests.yml

[PB#731] ST#4181【修正】承認ルート削除エラーメッセージ
  Application/public/js/approveRouteList-page.js
  Application/routes/approveRouteEdit.js
  Application/routes/deleteApproveRoute.js
  Application/views/approveRouteList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated scenario003.js
  bcd-e2e-tests/spec/scenario003.js
Due: azure-pipelines-unittests.yml

【PBI3585】【製造】【画面変更】ST#4176_承認ルート確認画面作成
  Application/public/css/style.css
  Application/public/js/requestApproval-page.js
  Application/routes/approvalInbox.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/requestApprovalRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【実装】ST#4165_メール通知処理（共通処理、承認処理）②
  Application/constants/constLogMessageDefiner.js
  Application/constants/constMailMsg.js
  Application/constants/index.js
  Application/lib/mailMsg.js
  Application/lib/sendMail.js
  Application/routes/approvalInbox.js
  Application/routes/inboxList.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3585】【製造】【ロジック追加】ST#4177_承認ルート状況の表示
  Application/controllers/approvalInboxController.js
  Application/public/css/style.css
  Application/public/js/requestApproval-page.js
  Application/routes/approvalInbox.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/requestApproval.pug
  Application/views/requestApprovalRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#731] ST#4181【修正漏れ】承認ルート削除エラーメッセージ-テストコード修正
  Tests/__test__/routes.approveEdit.spec.js
Due: none

[PB#3589] ST#4175【実装】UTコード作成(ST#4165対応)
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

[PB#3589] ST#4175【実装】UTコード作成(ST#4165対応)
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

【PBI3589】【実装】ST#4174_メール通知処理（差し戻し処理、最終承認処理）
  Application/lib/mailMsg.js
  Application/public/js/loaded-portal-page.js
  Application/routes/approvalInbox.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【実装】ST#4174_メール通知処理（差し戻し処理、最終承認処理）漏れ
  Application/lib/mailMsg.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3589] ST#4175【実装】UTコード作成(ST#4174対応)
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

[PB#3589] ST#4175【実装】UTコード作成(ST#4174対応)
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

[PB#3589] ST#4175【レビュー後修正_実装】
  Application/routes/inboxList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3585】【製造】【UTテストコード】ST#4178_実装による修正
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/mockDB/TradeshiftFindUser.js
Due: none

【PBI3585】【製造】【画面修正、実装漏れ】ST#4178_承認状況の承認ルート名部分修正、漏れたテストコード反映
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/requestApproval.pug
  Application/views/requestApprovalRoute.pug
  Tests/mockDB/Approval_Table1.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【実装】ST#4110_インテグレーションテスト
  Tests/__integration_tests__/approvalInbox.integration.spec.js
  Tests/__integration_tests__/requestApproval.integration.spec.js
  Tests/config/.env
Due: none

【PBI3589】【レビュー後修正】【UTコード修正】ST#4190_【レビュー後修正】
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/mockDB/TradeshiftFindUser.js
Due: none

【PBI3589】【デプロイ後】環境変数エラー対応
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【デプロイ後】メールの形式をhtmlからtextに変更
  Application/lib/sendMail.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【デプロイ後】メールの形式をhtmlからtextに変更
  Application/lib/mailMsg.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3585】【レビュー後修正】ST#4126
  Application/views/requestApprovalRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【実装】ST#4119_インテグレーションテスト
  Tests/__integration_tests__/approvalInbox.integration.spec.js
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
