Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

[1829] マージConflict作業
  Application/app.js
  Application/public/css/style.css
  Application/public/image/ts-app-digitaltrade-func-icon-olta-type1.svg
  Application/routes/accountCodeList.js
  Application/routes/csvDownload.js
  Application/views/accountUpload.pug
  Application/views/listCommonLayout.pug
  Application/views/portal.pug
  Tests/__integration_tests__/portal.integration.spec.js
  Tests/__integration_tests__/uploadAccount.integration.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/mockInvoice/invoice31.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[1829] マージConflict作業2
  Application/routes/accountCodeList.js
  Application/views/accountUpload.pug
  Application/views/listCommonLayout.pug
  Tests/__integration_tests__/uploadAccount.integration.spec.js
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[1829] merge Conflict 作業3
  Tests/lib/apiManager.js
Due: none

カスタムリファラのクッキー設定修理
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[1829] マージConflict作業で漏れた部分追加
  Application/routes/accountCodeList.js
  Application/views/accountUpload.pug
  Application/views/listCommonLayout.pug
  Tests/__integration_tests__/uploadAccount.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI1829]【レビュー後修正】テストコードレビュー対応
  Tests/__test__/controllers.accountUploadController.spec.js
  Tests/__test__/routes.accountCodeUpload.spec.js
Due: none

ST#2859 パラメータ名修正
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ST#2859 テストコードの修正
  Tests/__test__/routes.index.spec.js
Due: none

[PBI1829]【レビュー後修正】[追加]DB中腹処理改善
  Application/controllers/accountUploadController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【仕様変更】【PO要請件】ST#2793_ホーム画面変更
  Application/public/css/style.css
  Application/public/image/ts-app-digitaltrade-func-icon-nttsmarttrade.svg
  Application/views/layout.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【仕様変更】【画面追加変更】ページのログ高さの統一
  Application/routes/accountCodeEdit.js
  Application/routes/registAccountCode.js
  Application/views/cancellation.pug
  Application/views/change.pug
  Application/views/csvBasicFormat.pug
  Application/views/csvupload.pug
  Application/views/csvuploadResult.pug
  Application/views/registCommonLayout.pug
  Application/views/uploadFormatList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1829】【デプロイ】【実装漏れ】ST2767_UTコード修正、ヘッダー確認修正
  Application/controllers/accountUploadController.js
  Application/public/js/accountCodeUpload-page.js
  Tests/__test__/controllers.accountUploadController.spec.js
  Tests/__test__/routes.accountCodeEdit.spec.js
  Tests/__test__/routes.registAccountCode.spec.js
  Tests/testData/accountCodeUpload_test1.csv
  Tests/testData/accountCodeUpload_test3.csv
  Tests/testData/accountCodeUpload_test4.csv
  Tests/testData/accountCodeUpload_test5.csv
  Tests/testData/accountCodeUpload_test6.csv
  Tests/testData/accountCodeUpload_test7.csv
  Tests/testData/accountCodeUpload_test8.csv
  Tests/testData/accountCodeUpload_test9.csv
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2611】【デプロイ後修正】【実装漏れ】ST2866_メニューの配置変更
  Application/public/css/style.css
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

App Service切替対応
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

クッキーの期限を一日に延長
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキーを読み込み為のパッケージを導入
  Application/app.js
  Application/package-lock.json
  Application/package.json
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ユーザーカウント機能の実装
  Application/lib/countupUser.js
  Application/package-lock.json
  Application/package.json
  Application/routes/tenant.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

カウントアップ時ファイルがない場合は生成するようにする
  Application/lib/countupUser.js
  Application/routes/tenant.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2876]【実装】基本情報変更画面のバリデーション処理
  Application/public/js/uploadFormatEdit-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST#3030】【提携サービス】文言・URL修正
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#1929 テストコード修正
  Tests/__test__/routes.index.spec.js
Due: none

[PBI2876]【レビュー後修正】【実装漏れ】設定名称が空白の場合処理追加
  Application/public/js/uploadFormatEdit-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG2867】【実装】ST2887_インテグレーションテスト作成
  Tests/__integration_tests__/uploadFormatEdit.integration.spec.js
Due: none

[PBI2848]【実装】請求情報ダウンロード画面レイアウト変更（ステータス、企業検索）
  Application/public/js/csvDownload-page.js
  Application/routes/csvDownload.js
  Application/views/csvDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI2848]【実装漏れ】請求情報ダウンロード画面レイアウト変更（ステータス、企業検索）：全選択のボタン位置修正
  Application/views/csvDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2848】【製造】ST#2957_【実装】絞り込んだステータスでダウンロード処理
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3036】【実装不良】契約情報変更、解約ページボタン未反応修正
  Application/views/cancellation.pug
  Application/views/change.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Azure storage用の環境変数設定
  Application/config/.env
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[BUG#2867]【レビュー後対応】インテグレーションテストコード-コメントアウト部分解除
  Tests/__integration_tests__/uploadFormatEdit.integration.spec.js
Due: none

indexルートのテスト修正
  Tests/__test__/routes.index.spec.js
Due: none

ユーザーカウントモジュールの単体テスト追加
  Tests/__test__/lib.countupUser.spec.js
Due: none

[PBI#2848]【レビュー後修正】全選択ボタンと処理除去
  Application/public/js/csvDownload-page.js
  Application/views/csvDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

tenantルートの単体テスト追加
  Tests/__test__/routes.helpers.middleware.spec.js
  Tests/__test__/routes.tenant.spec.js
Due: none

【PBI2848】【実装】ST2966_インテグレーションテストコード作成
  Tests/__integration_tests__/csvDownload.integration.spec.js
Due: none

【PBI2848】【製造】ST2968_UTコード作成
  Application/routes/csvDownload.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/lib/apiManager.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI2848】【デプロイ前】【実装漏れ】ST#3038_ステータスの初期値設定
  Application/views/csvDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキー設定修正
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

クッキー設定処理の修理
  Application/routes/index.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
