Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PB3960】アプリ効果測定用ログ出力実装
  Application/lib/utils.js
  Application/memberSite/controllers/memberSiteController.js
  Application/obc/routes/tos.js
  Application/routes/portal.js
  Application/routes/uploadFormat.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 PDF一括作成機能
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/public/js/pdfInvoiceUploadResult.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/pdfInvoiceCsvUpload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB4709】PDF請求書一括アップロード機能修正
  Application/controllers/pdfInvoiceController.js
  Application/controllers/pdfInvoiceUploadController.js
  Application/controllers/pdfInvoiceUploadDetailController.js
  Application/lib/csv.js
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/lib/tax.js
  Application/migrations/20220517042131-create-pdf-invoice-upload-detail.js
  Application/models/pdfinvoiceuploaddetail.js
  Application/public/js/pdfInvoiceUploadResultDetail-page.js
  Application/routes/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 PDF一括作成 pug修正
  Application/public/js/pdfInvoiceUploadResult.js
  Application/views/listPdfInvoiceCommonLayout.pug
  Application/views/pdfInvoiceCsvUpload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 フォーマットダウンロードのパス修正
  Application/views/pdfInvoiceCsvUpload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST4809】【実装】【ユーザー一括登録】ロール指定の番号の変更
  Application/DTO/UploadUsersDTO.js
  Application/views/uploadUsersLayout.pug
  Tests/testData/usersUpload_test1.csv
  Tests/testData/usersUpload_test5.csv
  Tests/testData/usersUpload_test6.csv
  Tests/testData/usersUpload_test9.csv
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4793】【PO指摘対応】ST#4885_ポータル
  Application/public/css/style.css
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 PDF一括作成テストの追加
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB4709】バグ修正
  Application/lib/csv.js
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/lib/utils.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/listPdfInvoiceCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動デプロイ削除、デモ環境デプロイ時手動正常性確認タスク追加
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PB3872】CSRF対応
  Application/public/js/services/pdfInvoice.js
  Application/routes/pdfInvoice.js
  Application/views/layout.pug
  Tests/__IT__/it.pdfInvoice.spec.js
  Tests/__test__/routes.pdfInvoice.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4878】【実装】ST#4894_仕訳情報設定画面の「支払依頼へ」ボタン非活性化
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4895】【製造】【画面】_ST#4895【実装】確認ポップアップ作成
  Application/public/css/style.css
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
  Application/views/invoiceFooter.pug
  Application/views/invoiceHeader.pug
  Application/views/invoiceLines.pug
  Application/views/invoiceOptions.pug
  Application/views/invoicePaymentMethod.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4878】【レビュー後修正】ST#4945_実装レビュー対応
  Application/routes/requestApproval.js
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 テストの追加
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: none

【PBI4878】【レビュー後修正】ST#4907_モーダル、UTコード修正（レビュー後修正で発生）
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
  Tests/__test__/routes.requestApproval.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4878】【レビュー後修正】ST#4907_モーダル、UTコード修正（レビュー後修正で発生）②
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4878】【レビュー後修正】ST#4907_不要な改行削除
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4724】【実装】ST#4913_請求書情報取得APIの「Promise.all」適用（請求情報ダウンロード）
  Application/controllers/csvDownloadController.js
  Application/routes/csvDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4724】【実装】ST#4927_請求書情報取得APIの「Promise.all」適用（仕訳情報ダウンロード）
  Application/controllers/journalDownloadController.js
  Application/routes/journalDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストの待機処理を更新・実行時間短縮
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/AccountCodeListPage.js
  bcd-e2e-tests/page-objects/ApproveRouteListPage.js
  bcd-e2e-tests/page-objects/DepartmentListPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/SubAccountCodeListPage.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
Due: azure-pipelines-unittests.yml

Updated journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
Due: azure-pipelines-unittests.yml

【PBI4724】【実装】ST#4930 ダウンロード最大件数設定（請求情報ダウンロード、仕訳情報ダウンロード）
  Application/routes/csvDownload.js
  Application/routes/journalDownload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

待機処理を更新
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
Due: azure-pipelines-unittests.yml

【PBI4724】【実装】ST#4915_UTコード修正②
  Tests/__test__/controllers.csvDownloadController.spec.js
  Tests/__test__/controllers.journalDownloadController.spec.js
Due: none

自動テストの実行時刻を火曜7:00へ変更
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

Updated azure-pipelines-WR.yml
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI4793】【実装】ユーザーがデジトレアプリから弁護士ドットコムを簡易に申し込めるようになる
  Application/public/css/style.css
  Application/public/image/ben.svg
  Application/public/image/cloudzei.svg
  Application/public/image/zei.svg
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4724】【実装】ST#4914_UTコード修正①
  Application/public/css/style.css
  Application/routes/csvDownload.js
  Application/routes/journalDownload.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/__test__/routes.journalDownload.spec.js
  Tests/lib/apiManager.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB3960】アプリ効果測定3~6 UT実装
  Application/lib/utils.js
  Application/memberSite/controllers/memberSiteController.js
  Application/obc/routes/tos.js
  Application/routes/csvupload.js
  Application/routes/journalDownload.js
  Application/routes/portal.js
  Tests/__test__/appMetrics/bcdRelation.spec.js
  Tests/__test__/appMetrics/csvDownload.spec.js
  Tests/__test__/appMetrics/csvUpload.spec.js
  Tests/__test__/appMetrics/detectBrowser.spec.js
  Tests/__test__/appMetrics/journalDownload.spec.js
  Tests/__test__/appMetrics/lib.getBrowser.spec.js
  Tests/__test__/appMetrics/obcRelation.spec.js
  Tests/__test__/appMetrics/requestApproval.spec.js
  Tests/__test__/appMetrics/setupJournal.spec.js
  Tests/__test__/appMetrics/uploadFormat.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

競合の解消(コミット漏れ)
  Application/public/css/style.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4724】【レビュー後修正】ST#4953_テストコードレビュー指摘対応
  Tests/__test__/controllers.journalDownloadController.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/__test__/routes.journalDownload.spec.js
Due: none

【PBI4724】【デプロイ前修正】ST#4925_仕訳情報ダウンロードで会計システム３社のダウンロード部分対応
  Application/DTO/TradeshiftDTO.js
  Application/DTO/VO/Invoice/InvoiceFactory.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 UTの追加
  Application/controllers/pdfInvoiceUploadController.js
  Tests/__test__/controllers.pdfInvoiceUploadController.spec.js
  Tests/__test__/controllers.pdfInvoiceUploadDetailController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
