Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【PBI4722】【レビュー後修正】ST#5129_実装レビュー指摘対応
  Application/routes/inboxList.js
  Tests/__test__/routes.inboxList.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

弁護士ドットコム導線をv1.7.1.0として追加
  Application/public/css/style.css
  Application/public/image/ben.svg
  Application/public/image/cloudzei.svg
  Application/public/image/zei.svg
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST5002】【実装】弁護士ドットコムの機能外し
  Application/public/css/style.css
  Application/public/image/ben.svg
  Application/public/image/cloudzei.svg
  Application/public/image/zei.svg
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4722】【実装】ST#5140 【レビュー後修正】テストコードレビュー指摘対応
  Tests/__test__/routes.inboxList.spec.js
Due: none

Merge remote-tracking branch 'origin/PB#4709' into release_v.1.8.0.0a
  Application/app.js
  Application/controllers/pdfInvoiceController.js
  Application/controllers/pdfInvoiceUploadController.js
  Application/controllers/pdfInvoiceUploadDetailController.js
  Application/lib/csv.js
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/lib/tax.js
  Application/lib/utils.js
  Application/migrations/20220517042119-create-pdf-invoice-upload.js
  Application/migrations/20220517042131-create-pdf-invoice-upload-detail.js
  Application/models/pdfinvoiceupload.js
  Application/models/pdfinvoiceuploaddetail.js
  Application/public/css/style.css
  Application/public/html/PDF請求書ドラフト一括作成フォーマット.csv
  Application/public/html/pdfInvoiceCsvUpload.pdf
  Application/public/js/change-page.js
  Application/public/js/csvuploadResultDetail.js
  Application/public/js/pdfInvoice-page.js
  Application/public/js/pdfInvoiceUploadResult.js
  Application/public/js/pdfInvoiceUploadResultDetail-page.js
  Application/routes/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/change.pug
  Application/views/csvuploadResult.pug
  Application/views/listPdfInvoiceCommonLayout.pug
  Application/views/pdfInvoiceCsvUpload.pug
  Application/views/pdfInvoiceCsvUploadResult.pug
  Application/views/portal.pug
  Application/views/uploadFormat.pug
  Application/views/uploadFormatEdit.pug
  Tests/__IT__/it.pdfInvoiceCsvUpload.spec.js
  Tests/__test__/controllers.pdfInvoiceUploadController.spec.js
  Tests/__test__/controllers.pdfInvoiceUploadDetailController.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4722】【結合試験後】ST#5144_結合試験NG対応
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプラン申込画面のIT
  Tests/__integration_tests__/applyLightPlan.integration.spec.js
Due: none

無償契約ステータスのチェック処理の追加
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/helpers/middleware.js
  Tests/__integration_tests__/applyLightPlan.integration.spec.js
  Tests/__integration_tests__/common.js
  Tests/__test__/routes.applyLightPlan.spec.js
  Tests/__test__/routes.cancelLightPlan.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

step8 DB修正
  Application/controllers/pdfInvoiceHistoryController.js
  Application/controllers/pdfInvoiceHistoryDetailController.js
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/migrations/20220422081739-create-pdf-invoice.js
  Application/migrations/20220422083926-create-pdf-invoice-lines.js
  Application/migrations/20220517042119-create-pdf-invoice-history.js
  Application/migrations/20220517042131-create-pdf-invoice-history-detail.js
  Application/models/PdfInvoiceLine.js
  Application/models/pdfInvoice.js
  Application/models/pdfinvoiceHistory.js
  Application/models/pdfinvoiceHistoryDetail.js
  Application/models/pdfinvoiceHistorydetail.js
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/pdfInvoice-page.js
  Application/public/js/pdfInvoiceUploadResultDetail-page.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/invoicePDFLines.pug
  Application/views/pdfInvoiceCsvUploadResult.pug
  Tests/__IT__/it.pdfInvoice.spec.js
  Tests/__IT__/it.pdfInvoiceCsvUpload.spec.js
  Tests/__test__/controllers.pdfInvoiceUploadController.spec.js
  Tests/__test__/controllers.pdfInvoiceUploadDetailController.spec.js
  Tests/__test__/routes.pdfInvoice.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

IT
  Application/public/js/introductionSupport-page.js
  Application/views/introductionSupport.pug
  Tests/__integration_tests__/receiveIntroductionSupport.integration.spec.js
  Tests/__test__/routes.receiveIntroductionSupport.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプランのIT
  Application/routes/cancelLightPlan.js
  Tests/__integration_tests__/applyLightPlan.integration.spec.js
  Tests/__integration_tests__/cancelLightPlan.integration.spec.js
  Tests/__integration_tests__/common.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

「無償契約が契約中、または、簡易変更中ことのチェック」関数のUT
  Tests/__test__/routes.helpers.middleware.spec.js
Due: none

期待tradeshiftIdの値を変数ように修正
  Tests/__integration_tests__/applyLightPlan.integration.spec.js
  Tests/__integration_tests__/cancelLightPlan.integration.spec.js
Due: none

誤記修正
  Tests/__test__/routes.helpers.middleware.spec.js
Due: none

PB#5004 登録番号の追加
  Application/lib/csv.js
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/public/js/pdfInvoice-page.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/invoicePDFHeader.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

CSRF対策修正
  Application/routes/pdfInvoiceCsvUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

既存の無償アプリ利用登録/変更/廃止のオーダー情報修正
  Application/orderTemplate/contractInformationcancelOrder.json
  Application/orderTemplate/contractInformationchangeOrder_contractBasicInfo.json
  Application/orderTemplate/contractInformationnewOrder.json
  Application/routes/tenant.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4730】【製造】PB#4730_design_journal Button create
  Application/public/css/journalDownload.css
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ITテストコード作成
  Application/routes/helpers/middleware.js
  Tests/__integration_tests__/receiveIntroductionSupport.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプラン解約画面の修正
  Application/routes/cancelLightPlan.js
  Application/views/cancelLightPlan.pug
  Tests/__integration_tests__/cancelLightPlan.integration.spec.js
  Tests/__test__/routes.cancelLightPlan.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

既存の無償アプリ利用登録/変更/廃止のオーダー情報修正のUT対応
  Tests/__test__/routes.cancellation.spec.js
  Tests/__test__/routes.change.spec.js
  Tests/__test__/routes.tenant.spec.js
Due: none

無償契約ステータスチェック対応
  Application/routes/receiveIntroductionSupport.js
  Tests/__integration_tests__/common.js
  Tests/__integration_tests__/receiveIntroductionSupport.integration.spec.js
  Tests/__test__/routes.receiveIntroductionSupport.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプラインサーバー起動停止フラグ修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

不足テストケースを追加、不要テストケースを削除、不要コメント行削除
  Application/routes/receiveIntroductionSupport.js
  Tests/__integration_tests__/receiveIntroductionSupport.integration.spec.js
  Tests/__test__/routes.receiveIntroductionSupport.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4730】【実装】ST#5179_ポップアップ表示の作成
  Application/public/css/journalDownload.css
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3875 認証を共通メソッドを追加するよう修正
  Application/routes/receiveIntroductionSupport.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3875 UTの修正
  Tests/__test__/routes.receiveIntroductionSupport.spec.js
Due: none

【PBI4730】【実装】ST#5178 ライトプラン契約確認処理
  Application/controllers/contractController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4730】【実装】ST#5180_仕訳情報ダウンロード契約判断処理追加
  Application/public/image/lock.svg
  Application/public/js/dd.min.js
  Application/routes/inboxList.js
  Application/routes/journalDownload.js
  Application/views/journalDownload_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

自動テストの検証環境を変更
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/AccountCodeListPage.js
  bcd-e2e-tests/page-objects/ApproveRouteListPage.js
  bcd-e2e-tests/page-objects/ContractCancelPage.js
  bcd-e2e-tests/page-objects/ContractChangePage.js
  bcd-e2e-tests/page-objects/DepartmentListPage.js
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/JournalMenuPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/page-objects/RegistAccountCodePage.js
  bcd-e2e-tests/page-objects/RegisterPage.js
  bcd-e2e-tests/page-objects/SettingMenuPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/UploadAccountCodePage.js
  bcd-e2e-tests/page-objects/UploadDepartmentPage.js
  bcd-e2e-tests/page-objects/UploadSubAccountCodePage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
  bcd-e2e-tests/spec/register.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/scenario004.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario007.js
  bcd-e2e-tests/spec/scenario008.js
  bcd-e2e-tests/utils/action-utils.js
Due: azure-pipelines-unittests.yml

自動テストにて、検証環境の選択処理を修正
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
  bcd-e2e-tests/spec/register.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/scenario004.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario007.js
  bcd-e2e-tests/spec/scenario008.js
Due: azure-pipelines-unittests.yml

【PBI4730】【実装】【UTコード】_ST#5183_contractController修正
  Tests/__test__/controllers.contractController.spec.js
Due: none

【PBI4730】【製造】ST#5197_【実装】UTテストコード修正②、実装レビュー対応
  Application/routes/inboxList.js
  Application/routes/journalDownload.js
  Application/views/journalDownload.pug
  Application/views/journalDownload_light_plan.pug
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.journalDownload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4730】【製造】ST#5218_実装レビュー対応
  Application/views/journalDownload.pug
  Application/views/journalDownload_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【731】【調査】Readyにするための調査(PIB4952)
  Application/app.js
  Application/public/js/lib/BconAxios.js
  Application/public/js/portal-page.js
  Application/routes/api/index.js
  Application/routes/api/message.js
  Application/routes/api/oshirase.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
