Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【PBI3582】【製造】【実装】ST#4049_仕訳情報のデータ保存
  Application/app.js
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/public/js/approvalInbox-page.js
  Application/routes/approvalInbox.js
  Application/routes/requestApproval.js
  Application/seeders/20220228005708-add_approve_status.js
  Application/views/approvalInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【実装】ST#4057_インテグレーションテスト
  Tests/__integration_tests__/approvalInbox.integration.spec.js
Due: none

【PBI3582】【製造】ST#4050、ST#4051
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/migrations/20220225044855-create_request_approval.js
  Application/migrations/20220304035256-create_approval.js
  Application/models/approval.js
  Application/models/requestApproval.js
  Application/public/css/inboxList.css
  Application/public/js/approvalInbox-page.js
  Application/routes/approvalInbox.js
  Application/views/approvalInbox.pug
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【製造】ST#4056_UTコード作成②
  Application/routes/approvalInbox.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【製造】ST#4055_【実装】UTコード作成➀
  Application/app.js
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/routes/requestApproval.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【レビュー後修正】ST#4070_レビュー後修正
  Tests/__test__/routes.approvalInbox.spec.js
Due: none

【PBI3582】【製造】ST#4055_UTコード作成①-2
  Application/controllers/approvalInboxController.js
  Tests/__test__/controllers.approvalInboxController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【結合試験】ST#4045_NG修正
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/routes/approvalInbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3582】【結合試験NG対応】UTコード修正
  Application/controllers/approverController.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Set up CI with Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI3583】【製造】ST#4076_【実装】承認依頼画面修正
  Application/public/css/approvalInbox.css
  Application/public/js/approvalInbox-page.js
  Application/views/approvalInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3583] ST#4082【実装】差し戻し処理
  Application/controllers/rejectApporovalController.js
  Application/public/css/inboxList.css
  Application/routes/inboxList.js
  Application/routes/rejectApproval.js
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3583] ST#4082 【実装】差し戻し処理 漏れ：app.js
  Application/app.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【製造】ST#4084_差し戻し後再依頼処理
  Application/DAO/ApproveStatusDAO.js
  Application/DAO/DAO.js
  Application/DAO/RequestApprovalDAO.js
  Application/controllers/approverController.js
  Application/routes/registApproveRoute.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【PBI3582不具合対応】
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/routes/approvalInbox.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【実装】ST#4087_インテグレーションテストコード作成
  Application/routes/approvalInbox.js
  Application/views/approvalInboxpreApproverMessage.pug
  Application/views/registApproveRoute.pug
  Tests/__integration_tests__/approvalInbox.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【実装】UTコード作成①
  Tests/__test__/controllers.rejectApprovalController.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
Due: none

【PBI3583】【レビュー後修正】ST#4133
  Application/controllers/approverController.js
  Application/controllers/rejectApporovalController.js
  Application/public/css/inboxList.css
  Application/routes/inboxList.js
  Application/views/inboxList.pug
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

commit WR source for the first time
  bcd-e2e-tests/.gitignore
  bcd-e2e-tests/autotest-report-config.json
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/bin/wr-autotest-report-html-processor-2.9.0-all.jar
  bcd-e2e-tests/package-lock.json
  bcd-e2e-tests/package.json
  bcd-e2e-tests/page-objects/LoginPage.js
  bcd-e2e-tests/page-objects/SupportMenuPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/UploadFormatConfirmPage.js
  bcd-e2e-tests/page-objects/UploadFormatCreatePage.js
  bcd-e2e-tests/page-objects/UploadFormatSettingPage.js
  bcd-e2e-tests/page-objects/UploadFormatTopPage.js
  bcd-e2e-tests/page-objects/UploadInvoiceMenuPage.js
  bcd-e2e-tests/page-objects/UploadInvoicePage.js
  bcd-e2e-tests/spec/citest.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/support/jasmine.json
  bcd-e2e-tests/testdata/upload/format_header.csv
  bcd-e2e-tests/testdata/upload/format_no_header.csv
  bcd-e2e-tests/testdata/upload/invoice_default.csv
  bcd-e2e-tests/testdata/upload/invoice_header.csv
  bcd-e2e-tests/testdata/upload/invoice_no_header.csv
  bcd-e2e-tests/utils/action-utils.js
  bcd-e2e-tests/utils/chai-with-reporting.js
  bcd-e2e-tests/utils/screenshot-utils.js
  bcd-e2e-tests/utils/webdriver-utils.js
  bcd-e2e-tests/utils/wr-reporter-jasmine-adaptor.js
  bcd-e2e-tests/utils/wr-test-reporter.js
Due: azure-pipelines-unittests.yml

Updated azure-pipelines-WR.yml
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI3583】【レビュー後修正】ST#4133_修正した実装内容によるUTコード修正
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.rejectApprovalController.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.registApproveRoute.spec.js
Due: none

【PBI3583】【製造】ST#4127_【実装】UTコード作成
  Application/DAO/RequestApprovalDAO.js
  Application/controllers/approverController.js
  Tests/__test__/controllers.approverController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【レビュー後修正】ST#4134_実装②
  Application/controllers/rejectApporovalController.js
  Application/controllers/requestApprovalController.js
  Application/views/requestApprovalMessage.pug
  Application/views/requestApprovalRoute.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3592】【実装】登録した承認ルートを削除できる
  Application/app.js
  Application/controllers/approverController.js
  Application/public/js/approveRouteList-page.js
  Application/routes/deleteApproveRoute.js
  Application/views/approveRouteList.pug
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.deleteApproveRoute.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【レビュー後修正】ST#4134_実装②漏れ
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
