Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【731】【調査】Readyにするための調査(PIB4952)
  Application/public/js/lib/BconAxios.js
  Application/public/js/portal-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストの仕訳情報ダウンロードにて、検索条件を変更
  bcd-e2e-tests/spec/journal_journalDownload.js
Due: azure-pipelines-unittests.yml

【PBI4730】【製造】【実装漏れ】_ST#5183反映漏れ
  Tests/mockDB/Contracts_Table2.js
Due: none

【PBI4730】【レビュー後修正】ST#5220_UTコード
  Tests/__test__/controllers.contractController.spec.js
  Tests/__test__/routes.journalDownload.spec.js
Due: none

edited, not yet complete.
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

csrfToken input line return
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ESLintテストの削除
  Tests/jest-ci.config.js
Due: none

パイプラインでインストールするjest-junitのバージョンを13.2.0に指定
  Tests/jest-ci.config.js
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

パイプラインでインストールするjest-junitのバージョンを13.2.0に指定
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【ST5216】【調査】部門コード・承認ルートが削除できない
  Application/routes/approveRouteList.js
  Application/routes/departmentCodeList.js
  Tests/__test__/routes.approveRouteList.spec.js
  Tests/__test__/routes.departmentCodeList.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストをモック環境に対応＆テストデータ準備を更新
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
Due: azure-pipelines-unittests.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI5283】【製造】PB#5283_design_仕訳情報ダウンロード画面（プルダウン表示）
  Application/public/css/old/journalDownload.css
  Application/views/old/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_ご契約内容画面
  Application/old/app.js
  Application/public/css/contractDetail.css
  Application/public/css/old/style.css
  Application/routes/contractDetail.js
  Application/views/contractDetail.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#5004 UT,ITの追加、テストによる修正
  Application/lib/pdfInvoiceCsvUpdateValidation.js
  Application/migrations/20220517042119-create-pdf-invoice-history.js
  Application/migrations/20220517042131-create-pdf-invoice-history-detail.js
  Application/public/html/PDF請求書ドラフト一括作成フォーマット.csv
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__IT__/it.pdfInvoiceCsvUpload.spec.js
  Tests/__test__/controllers.pdfInvoiceHistoryController.spec.js
  Tests/__test__/controllers.pdfInvoiceHistoryDetailController.spec.js
  Tests/__test__/routes.pdfInvoice.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5283】【製造】PB#5283_design_仕訳情報ダウンロード画面（プルダウン表示）
  Application/views/journalDownload.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_「設定」ポップアップメニュー修正
  Application/views/old/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_「設定」ポップアップメニュー修正
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB5304】申し込みフォームで全角英を入力できるようにする
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#4941】印影の設定画面の作成
  Application/app.js
  Application/public/image/ts-app-digitaltrade-func-icon-file-select.svg
  Application/public/js/imprintUpload-page.js
  Application/routes/imprintUpload.js
  Application/views/imprintUpload.pug
  Application/views/listPdfInvoiceCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5139】【製造】ST#5223_承認時に仕訳情報が消えてしまう不具合の修正
  Application/controllers/inboxController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5139】【実装】ST#4947_差戻の通知からの遷移先の修正
  Application/routes/inboxList.js
  Application/routes/rejectApproval.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG5139】【実装】ST#5226_UTテストコード修正
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.inboxList.spec.js
Due: none

【BUG5139】【レビュー後修正】ST#5307_実装レビュー対応
  Application/public/js/approvalInbox-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストにて、モック環境にも対応するため、処理を一部変更
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
Due: azure-pipelines-unittests.yml

【PBI4952】【レビュー後修正】ST#5227_承認件数取得API作成
  Application/app.js
  Application/routes/api/index.js
  Application/routes/api/noticeCount.js
  Application/routes/portal.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4952】【レビュー後修正】ST#5227_承認件数取得API作成②
  Application/routes/api/noticeCount.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4952】【実装】ST#5228 承認件数取得APIをHome画面に適用
  Application/public/js/lib/BconAxios.js
  Application/public/js/portal-page.js
  Application/routes/api/noticeCount.js
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4952】【実装】ST#5236_UTテストコード作成
  Application/public/js/portal-page.js
  Application/routes/api/noticeCount.js
  Tests/__test__/routes.api.index.spec.js
  Tests/__test__/routes.api.noticeCount.spec.js
  Tests/__test__/routes.portal.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI4952】【実装】ST#5311 実装レビュー対応
  Application/public/js/lib/BconAxios.js
  Application/public/js/portal-page.js
  Tests/__test__/routes.api.noticeCount.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】契約確認画面の製造とUT
  Application/app.js
  Application/routes/contractDetail.js
  Application/routes/helpers/middleware.js
  Application/views/contractDetail.pug
  Tests/__test__/routes.contractDetail.spec.js
  Tests/__test__/routes.helpers.middleware.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

記号の追加：ゝゞ
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4941 印影登録のサーバサイド実装
  Application/config/.env
  Application/lib/setenv.js
  Application/lib/storageCommon.js
  Application/package-lock.json
  Application/package.json
  Application/routes/imprintUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 ドラフト一覧画面のタイトル変更
  Application/routes/pdfInvoice.js
  Tests/__test__/routes.pdfInvoice.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 出力時メッセージ変更
  Application/views/pdfInvoice.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 一覧のステータス削除し、宛先の枠を広げる
  Application/public/css/style.css
  Application/views/listPdfInvoiceCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

RSS不具合一時対処
  Application/routes/portal.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

電話番号バリデーション修正
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

単体テスト修正１
  Tests/__test__/routes.portal.spec.js
Due: none

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
