Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【PBI5965】【ブランチ作成】ST#5980_支払依頼一覧画面の表示時間を短縮する②
  Application/routes/inboxList.js
  Tests/__test__/routes.inboxList.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI4943マージ漏れ2
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: none

【PBI5522】【製造】PB#5522_design_支払い承認フローのデザイン_修正作業_revised
  Application/public/css/approvalInboxApprovRoute.css
  Application/views/approvalInboxApprovRoute.pug
  Application/views/inbox.pug
  Application/views/old/approvalInboxApprovRoute.pug
  Application/views/old/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5664】【製造】PBI#5664_マニュアル導線改善作業
  Application/old/app.js
  Application/public/css/accordion.css
  Application/public/css/old/portal.css
  Application/public/css/old/style.css
  Application/public/css/portal.css
  Application/public/css/userGuide.css
  Application/public/image/info-circle.svg
  Application/public/image/question-circle.svg
  Application/public/image/r-arrow.svg
  Application/public/image/r-arrow_big.svg
  Application/public/image/ts-app-digitaltrade-banner_02.svg
  Application/public/image/ts-app-digitaltrade-func-icon-add.svg
  Application/public/image/ts-app-digitaltrade-func-icon-csv_download.svg
  Application/public/image/ts-app-digitaltrade-func-icon-csv_upload-type2c.svg
  Application/public/image/ts-app-digitaltrade-func-icon-csv_upload-type2c_status.svg
  Application/public/image/ts-app-digitaltrade-func-icon-pdf_invoices.svg
  Application/public/image/ts-app-digitaltrade-func-icon-setting.svg
  Application/public/image/ts-app-digitaltrade-func-icon-siwake-type3.svg
  Application/public/image/ts-app-digitaltrade-func-icon-siwake-type3_status.svg
  Application/public/image/ts-app-digitaltrade-func-icon-support.svg
  Application/public/image/ts-app-issueonly_status.svg
  Application/public/image/userGuide-icon-feature.svg
  Application/public/image/userGuide-icon-inquiry.svg
  Application/public/image/userGuide-icon-qa.svg
  Application/public/js/accordion.js
  Application/public/obc/images/old/ts-app-digitaltrade-appicon.svg
  Application/public/obc/images/ts-app-digitaltrade-appicon.svg
  Application/routes/userGuide.js
  Application/views/home_layout.pug
  Application/views/old/csvupload.pug
  Application/views/old/layout.pug
  Application/views/old/portal.pug
  Application/views/userGuide.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#6021 PDF出力処理終了後、CSVアップロード後にPowerBI用ログを入れる
  Application/routes/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5522】【実装】ST#5940_承認フロー履歴表示修正
  Application/app.js
  Application/controllers/approvalInboxController.js
  Application/public/css/accordion.css
  Application/public/css/approvalInboxApprovRoute.css
  Application/public/js/accordion.js
  Application/public/js/approvalInbox-page.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/old/approvalInboxApprovRoute.pug
  Application/views/old/requestApproval.pug
  Application/views/readonlyApprovalInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#6021 一時保存済のPDF出力処理終了後のログを追加
  Application/routes/pdfInvoice.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#6021 PDF出力数のログ出力のUT追加
  Tests/__test__/appMetrics/pdfInvoice.spec.js
  Tests/__test__/appMetrics/pdfInvoiceCsvUpload.spec.js
Due: none

【PBI5522】【実装】ST#5941_承認フローコメント表示
  Application/public/css/approvalInboxApprovRoute.css
  Application/public/js/approvalInbox-page.js
  Application/public/js/readonlyInbox-page.js
  Application/public/js/requestApproval-page.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInbox.pug
  Application/views/readonlyInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストSTEP8（70%）
  bcd-e2e-tests/page-objects/AccountCodeListPage.js
  bcd-e2e-tests/page-objects/ApproveRouteListPage.js
  bcd-e2e-tests/page-objects/BulkUploadUsersPage.js
  bcd-e2e-tests/page-objects/ContractCancelPage.js
  bcd-e2e-tests/page-objects/ContractChangePage.js
  bcd-e2e-tests/page-objects/ContractDetailPage.js
  bcd-e2e-tests/page-objects/CsvUploadForPdfPage.js
  bcd-e2e-tests/page-objects/DepartmentListPage.js
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDownloadPage.js
  bcd-e2e-tests/page-objects/JournalMenuPage.js
  bcd-e2e-tests/page-objects/LightPlanMenuPage.js
  bcd-e2e-tests/page-objects/LoginPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/page-objects/RegistAccountCodePage.js
  bcd-e2e-tests/page-objects/RegistApproveRoutePage.js
  bcd-e2e-tests/page-objects/RegistPdfInvoicePage.js
  bcd-e2e-tests/page-objects/SubAccountCodeListPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/UploadAccountCodePage.js
  bcd-e2e-tests/page-objects/UploadDepartmentPage.js
  bcd-e2e-tests/page-objects/UploadSubAccountCodePage.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_approveRouteList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_journalDownload.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
  bcd-e2e-tests/spec/pdfInvoicing.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/testdata/upload/PDF請求書ドラフト一括作成.csv
  bcd-e2e-tests/testdata/upload/invoice_default.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_default.csv
  bcd-e2e-tests/utils/action-utils.js
Due: azure-pipelines-unittests.yml

明細行の持ち方を変更
  Application/lib/csv.js
  Application/routes/pdfInvoiceCsvUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5522】【レビュー後修正】ST#5987
  Application/controllers/approvalInboxController.js
  Application/public/js/accordion.js
  Application/public/js/approvalInbox-page.js
  Application/public/js/readonlyInbox-page.js
  Application/public/js/requestApproval-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5797】【レビュー対応】ST#6008_支払依頼一覧画面のページ遷移の文言修正
  Application/views/inboxList.pug
  Application/views/inboxList_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

登録番号の未入力を許容する修正
  Application/lib/pdfGenerator/renderInvoiceHTML.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5522】【レビュー対応】ST#5955_UTコード修正
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/mockDB/Approval_Table1.js
Due: none

【PBI5522】【デプロイ時対応】ST#5955_不要ログ削除
  Application/public/js/approvalInbox-page.js
  Application/public/js/readonlyInbox-page.js
  Application/public/js/requestApproval-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#6021 不要なログ情報の削除
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/appMetrics/pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

重要事項説明ヘッダー追加
  Application/public/css/paidServiceRegister.css
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

マニュアル差し替え
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_PDF請求書ドラフト一括作成.pdf
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5522】【レビュー対応】ST#5956_1500文字表示修正
  Application/public/css/approvalInboxApprovRoute.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#6021のマージ
  Application/routes/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/appMetrics/pdfInvoice.spec.js
  Tests/__test__/appMetrics/pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#5664 ヘッダリンクの表示条件を追加
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG6009】【実装】ST#6010_app.jsの修正
  Application/app.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#6020】明細20件以内バリデーションの修正
  Application/lib/pdfInvoiceCsvUploadValidation.js
  Application/routes/pdfInvoiceCsvUpload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#6033】登録番号任意化
  Application/lib/pdfGenerator/renderInvoiceHTML.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#6020】明細20件以内バリデーションのUT
  Tests/__test__/lib.pdfInvoiceCsvUploadValidation.spec.js
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: none

【PBI#6020】指摘対応
  Application/lib/pdfInvoiceCsvUploadValidation.js
  Tests/__test__/lib.pdfInvoiceCsvUploadValidation.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#5664 routesの修正
  Application/routes/userGuide.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#5664 UTの追加
  Tests/__test__/routes.userGuide.spec.js
Due: none

コンフリクト回避時のマージミス（pdf作成の合計金額表示）
  Application/public/js/pdfInvoice-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG6009】【レビュー後修正】請求書検索不具合対応
  Application/DTO/TradeshiftDTO.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG6009】【ブランチ作成】ST#6019_release_1.7.3.0反映
  Application/app.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#6020】不具合対応
  Application/lib/pdfInvoiceCsvUploadValidation.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【BUG6009】【ブランチ作成】ST#6061_release_v1.8.0.0反映
  Application/app.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_STEP8（80%）
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/LoginPage.js
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/RegistPdfInvoicePage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/TradeShiftUserPage.js
  bcd-e2e-tests/page-objects/UploadFormatTopPage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/scenario004.js
Due: azure-pipelines-unittests.yml

【PBI5804】【実装】ST#5806_不要ファイル・不要コメントの削除・必要コメントの追加①
  Application/controllers/accountCodeController.js
  Application/controllers/accountUploadController.js
  Application/controllers/apiManager.js
  Application/controllers/applyOrderController.js
  Application/controllers/approvalInboxController.js
  Application/controllers/approverController.js
  Application/controllers/cancellationsController.js
  Application/controllers/changeOrderController.js
  Application/controllers/contractController.js
  Application/controllers/csvDownloadController.js
  Application/controllers/departmentCodeController.js
  Application/controllers/departmentCodeUploadController.js
  Application/controllers/inboxController.js
  Application/controllers/invoiceController.js
  Application/controllers/invoiceDetailController.js
  Application/controllers/journalDownloadController.js
  Application/controllers/postalNumberController.js
  Application/controllers/rejectApporovalController.js
  Application/controllers/requestApprovalController.js
  Application/controllers/subAccountCodeController.js
  Application/controllers/subAccountUploadController.js
  Application/controllers/tenantController.js
  Application/controllers/uploadFormatController.js
  Application/controllers/uploadFormatDetailController.js
  Application/controllers/uploadFormatIdentifierController.js
  Application/controllers/uploadFormatListController.js
  Application/controllers/uploadSuppliersController.js
  Application/controllers/uploadUsersController.js
  Application/controllers/userController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5804】ST#6058_不要ファイル・不要コメントの削除・必要コメントの追加③
  Application/public/js/accordion.js
  Application/public/js/accountCodeList-page.js
  Application/public/js/accountCodeUpload-page.js
  Application/public/js/approvalInbox-page.js
  Application/public/js/approveRouteList-page.js
  Application/public/js/cancelLightPlan-page.js
  Application/public/js/cancellation-page.js
  Application/public/js/change-page.js
  Application/public/js/csvBasicFormat-page.js
  Application/public/js/csvDownload-page.js
  Application/public/js/csvuploadResultDetail.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/departmentCodeUpload-page.js
  Application/public/js/inbox-page.js
  Application/public/js/inboxList-page.js
  Application/public/js/invoicePaymentMethod-page.js
  Application/public/js/journalDownload-page.js
  Application/public/js/portal-page.js
  Application/public/js/readonlyInbox-page.js
  Application/public/js/registAccountCode-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registDepartmentCode-page.js
  Application/public/js/registSubAccountCode-page.js
  Application/public/js/register-page.js
  Application/public/js/requestApproval-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/subAccountCodeUpload-page.js
  Application/public/js/upload-page.js
  Application/public/js/uploadFormat-page.js
  Application/public/js/uploadFormatEdit-page.js
  Application/public/js/uploadFormatList-page.js
  Application/public/js/uploadSuppliers-page.js
  Application/public/js/uploadUsers-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
