Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

【PBI731】【実装】ST#6106_利用規約の差し替え対応（PDFDL以外）
  Application/public/css/terms-of-service.css
  Application/public/html/terms-of-service_20220419.html
  Application/public/html/terms-of-service_20220929.html
  Application/views/tenant-register.pug
  Application/views/user-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_STEP8（95%）
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/page-objects/RegistPdfInvoicePage.js
  bcd-e2e-tests/page-objects/TradeShiftDocDetailPage.js
  bcd-e2e-tests/page-objects/TradeShiftDocListPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/TradeShiftUserPage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/pdfInvoicing.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
Due: azure-pipelines-unittests.yml

【リファクタリング】【実装】ST#6126_リファクタリング実施（No.7）
  Application/routes/csvupload.js
  Tests/__test__/routes.csvupload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【リファクタリング】【実装】ST#6085_リファクタリング実施（csvupload.js）①
  Application/routes/csvupload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テスト_STEP8実装
  bcd-e2e-tests/page-objects/PaymentRequestListPage.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
Due: azure-pipelines-unittests.yml

【リファクタリング】ST#6127_リファクタリング実施（csvupload.js）②
  Application/routes/csvupload.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge branch 'develop_v1.8.0.0' of ssh.dev.azure.com:v3/BCDpocstg/BCD-portal/BCD-portal into develop_v1.8.0.0
  Application/public/js/pdfInvoice-page.js
  Application/routes/pdfInvoiceCsvUpload.js
  Application/views/invoicePDFLines.pug
  Application/views/pdfInvoiceCsvUploadResult.pug
  Tests/__test__/routes.pdfInvoiceCsvUpload.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge branch 'develop_v1.8.0.0' into release_v1.8.0.0
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge remote-tracking branch 'origin/develop_v1.8.0.0' into release_v1.8.0.0
  Application/views/layout.pug
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merged PR 1726: 【PBI731】【実装】ST#6101_オプションサービス申込モーダルのリンク
  Application/views/informationLightplanModal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge branch 'develop_v1.8.0.0' into release_v1.8.0.0
  Application/views/paidServiceRegisterTerms.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge branch 'ST#6113' into release_v1.8.0.0
  Application/public/html/【Bconnectionデジタルトレードアプリ】操作マニュアル_請求書一括作成.pdf
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Merge remote-tracking branch 'origin/develop_v1.8.0.0' into release_v1.8.0.0
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/lib/pdfInvoiceCsvUploadValidation.js
  Application/public/js/lib/pdfInvoiceValidation.js
  Application/views/invoicePDFLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【マージ】【実装】ST#6143_リファクタリング実施(No.15)
  Application/controllers/accountUploadController.js
  Application/controllers/subAccountUploadController.js
  Application/lib/removeFile.js
  Application/routes/csvupload.js
  Application/routes/uploadFormat.js
  Tests/__test__/controllers.accountUploadController.spec.js
  Tests/__test__/controllers.subAccountUploadController.spec.js
  Tests/__test__/routes.csvupload.spec.js
  Tests/__test__/routes.uploadFormat.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PDF請求書不具合対応
  Application/lib/pdfGenerator/renderInvoiceHTML.js
  Application/lib/pdfInvoiceCsvUploadValidation.js
  Application/routes/pdfInvoice.js
  Application/routes/pdfInvoiceCsvUpload.js
  Tests/__test__/lib.pdfInvoiceCsvUploadValidation.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5804】【実装】ST#6133_リファクタリング実施(No.15)①
  Application/constants/codeErrMsg.js
  Application/constants/codeValidDefine.js
  Application/controllers/departmentCodeUploadController.js
  Application/controllers/uploadSuppliersController.js
  Application/lib/validate.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5804】【実装】ST#6134_リファクタリング実施(No.15)②
  Application/controllers/uploadUsersController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5804】【UTコード修正】ST#6135_リファクタリング実施(No.15)①
  Tests/__integration_tests__/inbox.integration.spec.js
  Tests/__test__/controllers.departmentCodeUploadController.spec.js
  Tests/__test__/controllers.uploadSuppliersController.spec.js
  Tests/testData/departmentCodeUpload_test10.csv
  Tests/testData/departmentCodeUpload_test11.csv
  Tests/testData/departmentCodeUpload_test12.csv
  Tests/testData/departmentCodeUpload_test9.csv
Due: none

【PBI5804】【UTコード修正】ST#6136_リファクタリング実施(No.15)②
  Tests/__test__/controllers.uploadUsersController.spec.js
Due: none

【PBI731】【実装】ST#6121_利用規約の差し替え対応（PDFDL）
  Application/public/html/terms-of-service_20220419.pdf
  Application/public/html/terms-of-service_20220929.html
  Application/public/html/terms-of-service_20220929.pdf
  Application/views/paidServiceRegister.pug
  Application/views/paidServiceRegisterTerms.pug
  Application/views/tenant-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
