Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

環境ごとメール
  Application/lib/mailtest.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

[PB#3586] ST#3992 【実装】UTコード修正①
  Tests/__test__/controllers.inboxController.spec.js
Due: none

【PBI3586】【実装】ST#4002_UTコード修正②
  Application/routes/inboxList.js
  Application/views/inboxList.pug
  Application/views/portal.pug
  Tests/__test__/routes.inboxList.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST4138】【DBテーブル修正】FK解除_Approvalテーブルの解除漏れ対応
  Application/migrations/20220311111758-remove_constraint_fk_approveRouteId.js
  Application/models/approval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated webdriver-utils.js
  bcd-e2e-tests/utils/webdriver-utils.js
Due: azure-pipelines-unittests.yml

【PBI3586】【レビュー後修正】ST#4141_ 実装
  Application/DTO/VO/WaitingWorkflow.js
  Application/controllers/approvalInboxController.js
  Application/public/js/inboxList-page.js
  Application/views/inboxList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated citest.js
  bcd-e2e-tests/spec/citest.js
Due: azure-pipelines-unittests.yml

[PB#731] ST#4143【リファクタリング】「＄」関数共通化
  Application/public/js/approvalInbox-page.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/requestApproval-page.js
  Application/public/module/getElements.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3592】【実装】ST#4111_インテグレーションテスト（非表示ボタン削除）
  Application/views/approveRouteList.pug
  Tests/__integration_tests__/approveRouteEdit.integration.spec.js
  Tests/__integration_tests__/approveRouteList.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3586】【レビュー後修正】ST#4140_【レビュー後修正】テストコード修正
  Application/DTO/RequestApprovalDTO.js
  Tests/__test__/controllers.inboxController.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#3589 メール送信機能の実装
  Application/config/.env
  Application/constants/constLogMessageDefiner.js
  Application/constants/constMailMsg.js
  Application/constants/index.js
  Application/lib/sendMail.js
  Application/lib/setenv.js
  Application/package.json
  Application/routes/approvalInbox.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
