Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

単体試験修正
  Tests/__test__/routes.portal.spec.js
Due: none

ESlint対応
  Tests/__test__/routes.portal.spec.js
Due: none

RSS修正
  Application/routes/portal.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

RSSタイトル修正
  Application/routes/portal.js
  Tests/__test__/routes.portal.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated JournalDetailPage.js
  bcd-e2e-tests/page-objects/JournalDetailPage.js
Due: azure-pipelines-unittests.yml

【PBI5107】【製造】PB#5107_design_form_and_cancellation_page
  Application/old/app.js
  Application/public/css/contractCancellation.css
  Application/public/css/old/style.css
  Application/public/css/paidServiceRegister.css
  Application/routes/contractCancellation.js
  Application/routes/contractCancellationComplete.js
  Application/routes/paidServiceRegisterComplete.js
  Application/routes/paidServiceRegisterTerms.js
  Application/views/contractCancellation.pug
  Application/views/contractCancellationComplete.pug
  Application/views/paidServiceRegister.pug
  Application/views/paidServiceRegisterComplete.pug
  Application/views/paidServiceRegisterTerms.pug
  Application/views/paidServiceRegisterTerms_.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_form_and_cancellation_page_final
  Application/views/paidServiceRegister.pug
  Application/views/paidServiceRegisterTerms_.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_form_and_cancellation_page_final
  Application/views/contractCancellationComplete.pug
  Application/views/paidServiceRegisterComplete.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

commit テスト
  Application/views/approvalInbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5317】【実装】ST#5320 画面修正
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5317】【実装】ST#5321_モーダル作成
  Application/public/css/inboxList.css
  Application/public/css/informationLightplanModal.css
  Application/public/css/journalDownload.css
  Application/views/inboxList.pug
  Application/views/informationLightplanModal.pug
  Application/views/journalDownload.pug
  Application/views/journalDownload_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5314】MSSからの修正依頼2点の対応
  Application/views/cancelLightPlan.pug
  Application/views/introductionSupport.pug
  Application/views/lightPlan.pug
  Tests/__integration_tests__/applyLightPlan.integration.spec.js
  Tests/__integration_tests__/cancelLightPlan.integration.spec.js
  Tests/__integration_tests__/receiveIntroductionSupport.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 PDF生成後削除する要修正、商用化のテストの修正
  Application/public/js/pdfInvoiceList-page.js
  Application/public/js/services/pdfInvoice.js
  Application/routes/pdfInvoice.js
  Tests/__IT__/it.pdfInvoice.spec.js
  Tests/__test__/routes.pdfInvoice.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5208】【実装】ST#5266_支払依頼一覧画面修正
  Application/public/css/inboxList.css
  Application/public/js/inboxList-page.js
  Application/routes/inboxList.js
  Application/views/inboxList.pug
  Application/views/inboxList_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5107】【製造】PB#5107_design_ご契約内容画面_修正
  Application/public/css/old/contractDetail.css
  Application/public/css/style.css
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 DB保存用情報が残っていたため削除
  Application/routes/pdfInvoice.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 登録番号のPDF出力時のチェックを追加
  Application/public/js/lib/pdfInvoiceValidation.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4200 解約処理の追加
  Application/routes/contractCancellation.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】契約確認画面のボタンの制御の追加
  Application/routes/contractDetail.js
  Application/views/contractDetail.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】申し込み画面の実装
  Application/app.js
  Application/controllers/applyOrderController.js
  Application/public/js/cancelLightPlan-page.js
  Application/public/js/common/common.js
  Application/public/js/introductionSupport-page.js
  Application/public/js/paidServiceRegister-page.js
  Application/public/js/paidServiceRegisterTerms-page.js
  Application/routes/applyLightPlan.js
  Application/routes/helpers/orderData.js
  Application/routes/paidServiceRegister.js
  Application/routes/paidServiceRegisterComplete.js
  Application/routes/paidServiceRegisterTerms.js
  Application/routes/receiveIntroductionSupport.js
  Application/views/paidServiceRegister.pug
  Application/views/paidServiceRegisterComplete.pug
  Application/views/paidServiceRegisterTerms.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

自動テストSTEP7実装（60%）
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/JournalDetailPage.js
  bcd-e2e-tests/page-objects/LoginPage.js
  bcd-e2e-tests/page-objects/PaymentRequestPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/spec/journal_accountCodeList.js
  bcd-e2e-tests/spec/journal_departmentList.js
  bcd-e2e-tests/spec/journal_paymentRequest.js
  bcd-e2e-tests/spec/journal_paymentRequestList.js
  bcd-e2e-tests/spec/journal_paymentRequestList_detail.js
  bcd-e2e-tests/spec/journal_paymentRequest_long.js
  bcd-e2e-tests/spec/journal_subAccountCodeList.js
  bcd-e2e-tests/spec/register.js
Due: azure-pipelines-unittests.yml

自動テスト_シナリオ8の修正
  bcd-e2e-tests/spec/scenario008.js
Due: azure-pipelines-unittests.yml

【PBI#5107】画面デザインの反映
  Application/public/js/paidServiceRegister-page.js
  Application/routes/paidServiceRegister.js
  Application/views/cancellation.pug
  Application/views/change.pug
  Application/views/contractDetail.pug
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5208】【実装】ST#5265_請求書の担当者アドレス・担当者名前取得処理追加①
  Application/controllers/inboxController.js
  Application/routes/inboxList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PBI#5107 N番の表示、完了画面の表示方法の修正
  Application/routes/contractCancellation.js
  Application/routes/contractCancellationComplete.js
  Application/views/contractCancellation.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5208】【実装】ST#5265_請求書の担当者アドレス・担当者名前取得処理追加②
  Application/public/css/inboxList.css
  Application/public/js/inboxList-page.js
  Application/views/inboxList.pug
  Application/views/inboxList_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5208】【実装】ST#5265_請求書の担当者アドレス・担当者名前取得処理追加③
  Application/controllers/inboxController.js
  Application/routes/inboxList.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI5208】【実装】ST#5265_請求書の担当者アドレス・担当者名前取得処理追加④
  Application/views/inboxList_light_plan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Updated DownloadInvoicePage.js
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
Due: azure-pipelines-unittests.yml

【PBI5208】【実装】ST#5271 UTテストコード②
  Tests/__test__/routes.inboxList.spec.js
Due: none

【PBI5208】【実装】ST#5270_UTテストコード①
  Tests/__test__/controllers.inboxController.spec.js
Due: none

【PBI5208】【実装】ST#5270_UTテストコード①コメント追加
  Tests/__test__/controllers.inboxController.spec.js
Due: none

【PBI#5107】解約の修正(無料・スタンダード)
  Application/controllers/applyOrderController.js
  Application/public/js/paidServiceRegister-page.js
  Application/routes/cancelLightPlan.js
  Application/routes/cancellation.js
  Application/routes/contractCancellation.js
  Application/routes/helpers/notice.js
  Application/routes/helpers/orderData.js
  Application/routes/paidServiceRegister.js
  Application/views/contractCancellation.pug
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

デプロイ時にスタートアップコマンド設定するパラメーターを削除
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【PBI5208】【レビュー後修正】ST#5399 テストコード対応
  Tests/__test__/controllers.inboxController.spec.js
Due: none

【PBI5208】【レビュー後修正】 ST#5400_デプロイエラー対応
  Application/routes/journalDownload.js
  Tests/mockInvoice/invoice1.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

5213 実装
  Application/constants/csvFormatDefine.js
  Application/constants/invoiceErrMsg.js
  Application/constants/invoiceValidDefine.js
  Application/controllers/uploadFormatController.js
  Application/lib/bconCsv.js
  Application/lib/validate.js
  Application/public/html/請求書一括作成フォーマット.csv
  Application/routes/uploadFormat.js
  Application/views/csvupload.pug
  Application/views/uploadFormat.pug
  Application/views/uploadFormatEdit.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI#5107】不具合対応
  Application/public/js/paidServiceRegister-page.js
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/contractCancellation.js
  Application/routes/helpers/notice.js
  Application/routes/paidServiceRegister.js
  Application/views/contractCancellation.pug
  Application/views/paidServiceRegister.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml
