Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandPush
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

[PBI#1836]【レビュー後修正】テストコードレビュー対応
  Tests/__test__/controllers.subAccountCodeController.spec.js
  Tests/__test__/routes.deleteAccountCode.spec.js
  Tests/__test__/routes.deleteSubAccountCode.spec.js
Due: none

[PBI#1836]【レビュー後修正】テストコードレビュー対応:漏れ修正
  Tests/__test__/controllers.accountCodeController.spec.js
  Tests/__test__/routes.deleteSubAccountCode.spec.js
Due: none

[PBI#1836]【レビュー後修正】テストコードレビュー対応:漏れ修正2
  Tests/__test__/controllers.accountCodeController.spec.js
Due: none

[PBI#1836]【レビュー後修正】テストコードレビュー対応:漏れ修正3
  Tests/__test__/controllers.accountCodeController.spec.js
  Tests/__test__/controllers.subAccountCodeController.spec.js
Due: none

[PBI#1836]【レビュー後修正】テストコードレビュー対応:漏れ修正4
  Tests/__test__/controllers.subAccountCodeController.spec.js
Due: none

【ST3479】【画面変更】ファクタリングアイコ非表示
  Application/views/portal.pug
  Tests/__integration_tests__/portal.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】ST#3416_請求書の仕訳情報設定追加
  Application/public/css/inbox.css
  Application/public/css/style.css
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
  Application/views/invoiceHeader.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3479】【更新】利用規約差し替え
  Application/public/html/terms-of-service_20211018.pdf
  Application/public/html/terms-of-service_20220124.html
  Application/public/html/terms-of-service_20220124.pdf
  Application/views/tenant-register.pug
  Application/views/user-register.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3479】【更新】利用規約差し替え、ファクタリングアイコン非表示
  Application/public/html/terms-of-service_20211018.pdf
  Application/public/html/terms-of-service_20220124.html
  Application/public/html/terms-of-service_20220124.pdf
  Application/views/portal.pug
  Application/views/tenant-register.pug
  Application/views/user-register.pug
  Tests/__integration_tests__/portal.integration.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST3483】【修正】利用規約差し替え再アップロード（日付修正）
  Application/public/html/terms-of-service_20220124.html
  Application/public/html/terms-of-service_20220124.pdf
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】ST#3474_DBの仕訳情報を画面に表示
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Application/public/js/inbox-page.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】ST#3418_【実装】仕訳情報検索機能追加①
  Application/controllers/inboxController.js
  Application/public/js/inbox-page.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【実装】ST#3419_仕訳情報の登録処理①
  Application/controllers/inboxController.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【実装】ST#3491_仕訳情報の登録処理②（利用しない変数削除）
  Application/controllers/inboxController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】仕分け情報検索機能追加②
  Application/controllers/inboxController.js
  Application/public/css/inbox.css
  Application/public/js/inbox-page.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB#1840】【実装不良】ST#3490_仕分け情報検索
  Application/controllers/inboxController.js
  Application/routes/inbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【実装漏れ】ST#3491_仕訳情報の登録処理
  Application/routes/inbox.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1840] ST#3421【実装】インテグレーションテストコード作成①
  Tests/__integration_tests__/inbox.integration.spec.js
Due: none

【PBI1840】【実装】ST#3420_UTコード作成①
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: none

【PBI1840】【製造】ST#3475_【実装】仕分け情報変更修正➀
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Application/public/js/inbox-page.js
  Application/routes/inbox.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】ST#3485_仕訳情報の変更・削除処理②
  Application/controllers/inboxController.js
  Application/public/js/inbox-page.js
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【実装】ST#3486_UTコード作成②
  Application/controllers/inboxController.js
  Application/routes/inbox.js
  Application/views/invoiceLines.pug
  Tests/__test__/routes.inbox.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【製造】_ST#3487_AutoMerging
  Application/controllers/inboxController.js
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1840] ST#3489【実装】インテグレーションテストコード作成②
  Tests/__integration_tests__/inbox.integration.spec.js
Due: none

【PBI1840】【製造】ST#3487_UTコード作成②
  Application/controllers/inboxController.js
  Tests/__test__/controllers.inboxController.spec.js
  Tests/mockDB/SubAccountCode_Table.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【レビュー後修正】仕訳情報のカラム追加
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Application/migrations/20220124151129-add-journalize_inovice_column.js
  Application/models/journalizeInvoice.js
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【レビュー後修正】ST#3492_実装レビュー対応
  Application/controllers/inboxController.js
  Application/public/js/inbox-page.js
  Application/routes/inbox.js
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#731] ST#3497【リファクタリング】「＄」関数共通化
  Application/public/js/accountCodeList-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/views/accountCodeList.pug
  Application/views/subAccountCodeList.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【レビュー後修正】ST#3496_テストコート
  Application/controllers/inboxController.js
  Application/lib/invoiceDetail.js
  Tests/__test__/controllers.inboxController.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【レビュー後修正】ST#3492_実装レビュー対応（仕訳情報設定番号処理追加）
  Application/controllers/inboxController.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【レビュー後修正】ST#3492_実装レビュー対応（UTコード修正）
  Tests/__test__/controllers.inboxController.spec.js
Due: none

【PB#3498】【レビュー後修正】実装③
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【レビュー後修正】【実装不良】ST#3498
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【デプロイ前】【実装漏れ】分割金額確認処理追加
  Application/public/js/inbox-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【デプロイ前】【実装漏れ】明細数制限処理修正
  Application/public/js/inbox-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI1840】【結合試験】【NG修正】
  Application/public/js/inbox-page.js
  Application/views/inbox.pug
  Application/views/invoiceLines.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PBI#1833] ST#3537【実装】部門コードのテーブル作成（ローカル）
  Application/migrations/20220126074314-create_DepartmentCode.js
  Application/migrations/20220126074733-add_DepartmentCode_constraint.js
  Application/models/departmentCode.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

修正コミット
  Application/app.js
  Application/memberSite/controllers/memberSiteController.js
  Application/memberSite/routes/idLinkingRouter.js
  Application/public/js/portal-page-memberSite.js
  Application/routes/portal.js
  Application/views/portal.pug
  Tests/__test__/memberSite/UT/contollers/memberSiteController.spec.js
  Tests/__test__/memberSite/UT/routes/idLinkingRouter.spec.js
  Tests/__test__/routes.auth.spec.js
  Tests/__test__/routes.portal.spec.js
  Tests/jest.config.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
