Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-WR.yml:
  stages:
  - stage: npm_settingStage
    jobs:
    - job: npm_settingJob
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 10.x
        displayName: Install Node.js
  - stage: chromeStage
    jobs:
    - job: chrome_scenario001
      steps:
      - script: 'npm i
  
  ...

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI3853】【レビュー後修正】ST#4109_承認テーブル更新処理（差し戻し）
  Application/controllers/approverController.js
  Application/controllers/rejectApporovalController.js
  Application/migrations/20220311024716-add_Approval_column_reject.js
  Application/models/approval.js
  Application/routes/rejectApproval.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3853】【レビュー後修正】ST#4109_承認テーブル更新処理（差し戻し）-UTコード修正
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/controllers.rejectApprovalController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
Due: none

【PBI3583】【デプロイ前】ST#4104_デプロイ前動作確認不具合対応
  Application/controllers/approverController.js
  Application/controllers/rejectApporovalController.js
  Application/public/css/requestApproval.css
  Application/routes/requestApproval.js
  Application/views/approvalInboxpreApproverMessage.pug
  Application/views/requestApprovalRejectedMessage.pug
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3583】【デプロイ前】ST#4104_デプロイ前動作確認不具合対応
  Application/views/requestApproval.pug
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

Updated azure-pipelines-WR.yml
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【PBI3853】【デプロイ前修正】ST#4104_UTコード修正
  Application/routes/requestApproval.js
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3586】【製造】ST#3990_承認待ちタブ作成
  Application/DAO/ApprovalDAO.js
  Application/DAO/RequestApprovalDAO.js
  Application/DTO/RequestApprovalDTO.js
  Application/DTO/VO/WaitingWorkflow.js
  Application/controllers/inboxController.js
  Application/public/js/inboxList-page.js
  Application/routes/inboxList.js
  Application/views/inboxList.pug
  Application/views/portal.pug
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3586】【製造】ST#3993_インテグレーションテスト修正
  Application/public/js/inboxList-page.js
  Tests/__integration_tests__/inboxList.integration.spec.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3586] ST#3991 【実装】DBからステータス取得、画面に表示
  Application/DTO/VO/WaitingWorkflow.js
  Application/controllers/approvalInboxController.js
  Application/routes/inboxList.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3586】【レビュー後修正】ST#4137
  Application/DAO/ApprovalDAO.js
  Application/DTO/RequestApprovalDTO.js
  Application/controllers/inboxController.js
  Application/public/js/inboxList-page.js
  Application/routes/inboxList.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【ST4138】【DBテーブル修正】FK解除
  Application/migrations/20220311111758-remove_constraint_fk_approveRouteId.js
  Application/models/requestApproval.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3586】【製造】ST#3991_【実装】トレードシフト、DB連携して画面に表示
  Application/DAO/ApprovalDAO.js
  Application/DTO/RequestApprovalDTO.js
  Application/DTO/TradeshiftDTO.js
  Application/DTO/VO/WaitingWorkflow.js
  Application/controllers/inboxController.js
  Application/public/js/inboxList-page.js
  Application/routes/inboxList.js
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

olta導線追加
  Application/views/portal.pug
Due: azure-pipelines-WR.yml, azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-WR.yml: any of: Application, bcd-e2e-tests, but not: Documents, Tests, *.yml
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
