Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml

【ST#4181】【デプロイ前Pull】ソースPull
  Application/public/js/accountCodeList-page.js
  Application/public/js/approveRouteList-page.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/uploadFormatList-page.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【メール関連修正】メール関連環境変数削除_コメント、アドレス更新
  Application/config/.env
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST#4181】【デプロイ前】UTコード修正
  Tests/__test__/routes.deleteApproveRoute.spec.js
Due: none

【PBI3589】【メール関連修正】アドレス更新
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【PO指摘対応】最終承認メールのリンク変更
  Application/lib/mailMsg.js
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3589】【PO指摘対応】最終承認メールのリンク変更_漏れ
  Application/lib/mailMsg.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

release_step6_20220318merge
  Application/DTO/RequestApprovalDTO.js
  Application/constants/constLogMessageDefiner.js
  Application/lib/mailMsg.js
  Application/lib/sendMail.js
  Application/lib/setenv.js
  Application/package.json
  Application/public/js/approveRouteList-page.js
  Application/public/js/loaded-portal-page.js
  Application/routes/approvalInbox.js
  Application/routes/approveRouteEdit.js
  Application/routes/deleteApproveRoute.js
  Application/routes/inboxList.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/views/approveRouteList.pug
  Application/views/layout.pug
  Tests/__integration_tests__/approvalInbox.integration.spec.js
  Tests/__integration_tests__/requestApproval.integration.spec.js
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.approveEdit.spec.js
  Tests/__test__/routes.deleteApproveRoute.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

release_step6_20220318merge②
  Tests/mockDB/TradeshiftFindUser.js
Due: none

[PB#3589] メール通知エラーための処理
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

[PB#3589] メール通知エラーための処理(元に戻す)
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【実装】ST#4106_インテグレーションテスト
  Tests/__integration_tests__/portal.integration.spec.js
Due: none

開発環境で動作確認するため修正
  Application/config/.env
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【ST4197】【指摘対応】メールアドレス対応（メール環境変数戻す）
  Application/config/.env
  Application/lib/setenv.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプラインのオプションでDBのseed処理が実行できるように修正
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【ST4199】【指摘対応】メールアドレス対応（メール環境変数戻す）,PBI3585除外
  Application/controllers/approvalInboxController.js
  Application/public/css/style.css
  Application/public/js/requestApproval-page.js
  Application/routes/approvalInbox.js
  Application/routes/inboxList.js
  Application/views/approvalInboxApprovRoute.pug
  Application/views/readonlyApprovalInboxApprovRoute.pug
  Application/views/requestApproval.pug
  Application/views/requestApprovalRoute.pug
  Tests/__integration_tests__/approvalInbox.integration.spec.js
  Tests/__integration_tests__/portal.integration.spec.js
  Tests/__integration_tests__/requestApproval.integration.spec.js
  Tests/__test__/controllers.approvalInboxController.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/mockDB/Approval_Table1.js
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【デプロイ後】ESLint修正
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PBI3584】【デプロイ後修正】ST#4079、ST#4202_差し戻しの件数表記NG対応
  Application/DAO/RequestApprovalDAO.js
  Application/controllers/approverController.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/views/requestApproval.pug
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

リグレッションテスト実装 STEP1-4
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/page-objects/ContractChangePage.js
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
  bcd-e2e-tests/page-objects/LoginPage.js
  bcd-e2e-tests/page-objects/RakkoToolsPage.js
  bcd-e2e-tests/page-objects/SettingMenuPage.js
  bcd-e2e-tests/page-objects/SettlementPage.js
  bcd-e2e-tests/page-objects/TopPage.js
  bcd-e2e-tests/page-objects/TradeShiftTopPage.js
  bcd-e2e-tests/page-objects/UploadFormatCreatePage.js
  bcd-e2e-tests/page-objects/UploadFormatModPage.js
  bcd-e2e-tests/page-objects/UploadFormatTopPage.js
  bcd-e2e-tests/page-objects/UploadInvoicePage.js
  bcd-e2e-tests/page-objects/UploadListDetailPage.js
  bcd-e2e-tests/page-objects/UploadListPage.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/scenario004.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario007.js
  bcd-e2e-tests/spec/scenario008.js
  bcd-e2e-tests/testdata/upload/format_header_tmp.csv
  bcd-e2e-tests/testdata/upload/invoice_default.csv
  bcd-e2e-tests/testdata/upload/invoice_header.csv
  bcd-e2e-tests/testdata/upload/invoice_no_header.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_default.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_header.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_no_header.csv
  bcd-e2e-tests/utils/action-utils.js
  bcd-e2e-tests/utils/webdriver-utils.js
  bcd-e2e-tests/utils/wr-test-reporter.js
Due: azure-pipelines-unittests.yml

Updated azure-pipelines-WR.yml
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

日付関連対応
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario008.js
Due: azure-pipelines-unittests.yml

外部ライブラリのアップデート 脆弱性対応
  bcd-e2e-tests/package-lock.json
Due: azure-pipelines-unittests.yml

ログ追加
  bcd-e2e-tests/spec/scenario005.js
Due: azure-pipelines-unittests.yml

記述ミス
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
Due: azure-pipelines-unittests.yml

アップロード日関連のテストを修正
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
Due: azure-pipelines-unittests.yml

ログ追加
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
Due: azure-pipelines-unittests.yml

日付入力処理の修正
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
Due: azure-pipelines-unittests.yml

修正ミス
  bcd-e2e-tests/page-objects/DownloadInvoicePage.js
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

不具合対応
  bcd-e2e-tests/spec/scenario004.js
Due: azure-pipelines-unittests.yml

[BUG#4204] ST#4238 【実装】依頼ボタンを2回以上押せないように修正
  Application/public/js/requestApproval-page.js
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

複数アカウント対応
  azure-pipelines-WR.yml
  bcd-e2e-tests/autotest-script-config.json
  bcd-e2e-tests/spec/citest.js
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/scenario004.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario007.js
  bcd-e2e-tests/spec/scenario008.js
  bcd-e2e-tests/utils/action-utils.js
Due: azure-pipelines-unittests.yml

要素の取り方を修正
  bcd-e2e-tests/page-objects/TopPage.js
Due: azure-pipelines-unittests.yml

【BUG4204】【実装】ST#4241_インテグレーションテスト
  Tests/__integration_tests__/requestApproval.integration.spec.js
Due: none

データ作成用CSVファイルも含める
  bcd-e2e-tests/testdata/download/invoice_2bc16fc8_to_fcde4039.csv
  bcd-e2e-tests/testdata/download/invoice_6f294335_to_fcde4039.csv
  bcd-e2e-tests/testdata/download/invoice_fcde4039_to_2bc16fc8.csv
  bcd-e2e-tests/testdata/download/invoice_fcde4039_to_6f294335.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_default.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_header.csv
  bcd-e2e-tests/testdata/upload/tmp_invoice_no_header.csv
Due: azure-pipelines-unittests.yml

【BUG4204】【実装】ST#4223、ST#4284、ST#4285対応
  Application/controllers/approverController.js
  Application/controllers/inboxController.js
  Application/public/js/approvalInbox-page.js
  Application/routes/requestApproval.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

スケジュール実行を無効化
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【BUG4204】【実装】ST#4227_UTコード修正
  Tests/__test__/controllers.approverController.spec.js
  Tests/__test__/routes.requestApproval.spec.js
Due: none

管理者専用機能を一般ユーザーではスキップするよう対応 レポート用コメントを追加
  bcd-e2e-tests/spec/common.js
  bcd-e2e-tests/spec/scenario001.js
  bcd-e2e-tests/spec/scenario002.js
  bcd-e2e-tests/spec/scenario003.js
  bcd-e2e-tests/spec/scenario004.js
  bcd-e2e-tests/spec/scenario005.js
  bcd-e2e-tests/spec/scenario006.js
  bcd-e2e-tests/spec/scenario007.js
  bcd-e2e-tests/spec/scenario008.js
Due: azure-pipelines-unittests.yml
