Repository Rakib-dova/BCD-portal-dova: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-unittests.yml, azure-pipelines.yml

azure-pipelines-unittests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildandPush
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
          cwd: Application
  ...

azure-pipelines.yml:
  stages:
  - stage: BuildandTest
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: null
      steps:
      - task: NodeTool@0
        displayName: Use Node 14.x
        inputs:
          versionSpec: 14.x
      - task: Npm@0
        displayName: Install application dependencies
        inputs:
  ...

Update azure-pipelines-WR.yml for Azure Pipelines
  azure-pipelines-WR.yml
Due: azure-pipelines-unittests.yml

【ST5002】【実装】弁護士ドットコムの機能外し
  Application/public/css/style.css
  Application/public/image/ben.svg
  Application/public/image/cloudzei.svg
  Application/public/image/zei.svg
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプラインの正常性確認フラグを正常性確認スキップフラグに変更
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【BUG4887】【修正】【CSRF対応】_ST#4972【実装】CSRF対応
  Application/public/js/upload-page.js
  Application/routes/accountCodeEdit.js
  Application/routes/accountCodeUpload.js
  Application/routes/approvalInbox.js
  Application/routes/approveRouteEdit.js
  Application/routes/approveRouteList.js
  Application/routes/cancellation.js
  Application/routes/change.js
  Application/routes/csvDownload.js
  Application/routes/csvupload.js
  Application/routes/csvuploadResult.js
  Application/routes/departmentCodeEdit.js
  Application/routes/departmentCodeList.js
  Application/routes/departmentCodeUpload.js
  Application/routes/inbox.js
  Application/views/approvalInbox.pug
  Application/views/cancellation.pug
  Application/views/change.pug
  Application/views/csvDownload.pug
  Application/views/csvupload.pug
  Application/views/inbox.pug
  Application/views/layout.pug
  Application/views/registApproveRoute.pug
  Application/views/registCommonLayout.pug
  Application/views/uploadCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4887】【修正】【CSRF対応】_ST#4972【実装】CSRF対応
  Application/public/js/inboxList-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registSubAccountCode-page.js
  Application/public/js/requestApproval-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/uploadFormatList-page.js
  Application/routes/csvBasicFormat.js
  Application/routes/inboxList.js
  Application/routes/journalDownload.js
  Application/routes/registAccountCode.js
  Application/routes/registApproveRoute.js
  Application/routes/registDepartmentCode.js
  Application/routes/registSubAccountCode.js
  Application/routes/rejectApproval.js
  Application/routes/requestApproval.js
  Application/routes/searchAddressApi.js
  Application/routes/searchApprover.js
  Application/routes/searchCompaniesApi.js
  Application/routes/subAccountCodeEdit.js
  Application/routes/subAccountCodeList.js
  Application/routes/subAccountCodeUpload.js
  Application/routes/uploadFormat.js
  Application/routes/uploadFormatEdit.js
  Application/routes/uploadFormatList.js
  Application/routes/uploadUsers.js
  Application/views/csvBasicFormat.pug
  Application/views/inboxList.pug
  Application/views/journalDownload.pug
  Application/views/listSubAccountCommonLayout.pug
  Application/views/requestApproval.pug
  Application/views/uploadFormat.pug
  Application/views/uploadFormatEdit.pug
  Application/views/uploadFormatList.pug
  Application/views/uploadUsersLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプラン
  Application/app.js
  Application/constants/contractStatus.js
  Application/controllers/applyOrderController.js
  Application/public/js/cancelLightPlan-page.js
  Application/public/js/lightPlan-page.js
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/helpers/OrderData.js
  Application/routes/helpers/notice.js
  Application/views/cancelLightPlan.pug
  Application/views/lightPlan.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG#4887】【実装】【UTコード】_ST#4976【実装】UTコード作成➀
  Tests/__test__/routes.accountCodeEdit.spec.js
  Tests/__test__/routes.accountCodeUpload.spec.js
  Tests/__test__/routes.approvalInbox.spec.js
  Tests/__test__/routes.approveEdit.spec.js
  Tests/__test__/routes.cancellation.spec.js
  Tests/__test__/routes.change.spec.js
  Tests/__test__/routes.csvDownload.spec.js
  Tests/__test__/routes.csvupload.spec.js
  Tests/__test__/routes.departmentCodeEdit.spec.js
  Tests/__test__/routes.departmentCodeUpload.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: none

【BUG#4887】【実装】【UTコード】_ST#4976【実装】UTコード作成➀
  Tests/__test__/routes.accountCodeEdit.spec.js
Due: none

【BUG#4887】【実装】【UTコード】_ST#4977【実装】UTコード作成②
  Application/public/js/inboxList-page.js
  Application/public/js/registApproveRoute-page.js
  Application/public/js/registSubAccountCode-page.js
  Application/public/js/requestApproval-page.js
  Application/public/js/subAccountCodeList-page.js
  Application/public/js/uploadFormatList-page.js
  Application/routes/uploadFormat.js
  Tests/__test__/routes.csvBasicFormat.spec.js
  Tests/__test__/routes.inboxList.spec.js
  Tests/__test__/routes.journalDownload.spec.js
  Tests/__test__/routes.registAccountCode.spec.js
  Tests/__test__/routes.registApproveRoute.spec.js
  Tests/__test__/routes.registDepartmentCode.spec.js
  Tests/__test__/routes.registSubAccountCode.spec.js
  Tests/__test__/routes.rejectApproval.spec.js
  Tests/__test__/routes.requestApproval.spec.js
  Tests/__test__/routes.searchAddressApi.spec.js
  Tests/__test__/routes.searchApprover.spec.js
  Tests/__test__/routes.searchCompaniesApi.spec.js
  Tests/__test__/routes.subAccountCodeEdit.spec.js
  Tests/__test__/routes.subAccountCodeList.spec.js
  Tests/__test__/routes.subAccountCodeUpload.spec.js
  Tests/__test__/routes.uploadFormat.spec.js
  Tests/__test__/routes.uploadFormatEdit.spec.js
  Tests/__test__/routes.uploadFormatList.spec.js
  Tests/__test__/routes.uploadUsers.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【PB4937】契約情報テーブル変更 & それに伴う共通認証機能修正
  Application/constants/contractStatus.js
  Application/controllers/contractController.js
  Application/lib/validate.js
  Application/migrations/20220609040133-modify_contracts_add_serviceType.js
  Application/models/contract.js
  Application/routes/helpers/middleware.js
  Tests/__test__/controllers.contractController.spec.js
  Tests/__test__/routes.helpers.bcdAuthenticate.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

弁護士ドットコム機能の除外
  Application/public/css/style.css
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4887】【修正】【CSRF対応】_ST#5013【実装】CSRF対応
  Application/public/js/accountCodeList-page.js
  Application/public/js/approveRouteList-page.js
  Application/public/js/departmentCodeList-page.js
  Application/public/js/inbox-page.js
  Application/routes/accountCodeList.js
  Application/routes/deleteAccountCode.js
  Application/routes/deleteApproveRoute.js
  Application/routes/deleteDepartmentCode.js
  Application/routes/deleteSubAccountCode.js
  Application/routes/inbox.js
  Application/views/approveRouteList.pug
  Application/views/listCommonLayout.pug
  Application/views/listDeparmentCommonLayout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

PB#4709 ITの追加
  Tests/__IT__/it.pdfInvoiceCsvUpload.spec.js
Due: none

【BUG4887】【修正】【CSRF対応】_ST#5013【実装】UTコード修正
  Tests/__test__/routes.accountCodeList.spec.js
  Tests/__test__/routes.deleteAccountCode.spec.js
  Tests/__test__/routes.deleteApproveRoute.spec.js
  Tests/__test__/routes.deleteDepartmentCode.spec.js
  Tests/__test__/routes.deleteSubAccountCode.spec.js
  Tests/__test__/routes.inbox.spec.js
Due: none

ライトプランの申込画面のフロントエンド実装
  Application/public/js/common/common.js
  Application/public/js/lightPlan-page.js
  Application/routes/applyLightPlan.js
  Application/routes/helpers/OrderData.js
  Application/views/lightPlan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

【BUG4887】【修正】【CSRF対応】_ST#5013【実装】UTコード修正
  Tests/__test__/routes.approveRouteList.spec.js
  Tests/__test__/routes.csvuploadResult.spec.js
  Tests/__test__/routes.departmentCodeList.spec.js
Due: none

【BUG4887】【修正】【CSRF対応】_ST#5013【実装】UTコード修正(取得のみのpost修正)
  Application/routes/searchAddressApi.js
  Application/routes/searchApprover.js
  Application/routes/searchCompaniesApi.js
  Tests/__test__/routes.searchAddressApi.spec.js
  Tests/__test__/routes.searchApprover.spec.js
  Tests/__test__/routes.searchCompaniesApi.spec.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

パイプライン起動停止フラグにデモ環境追加
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-unittests.yml

【BUG4887】【修正】【CSRF対応】_ST#4995 pug修正
  Application/views/requestApproval.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプランの解約画面の実装
  Application/constants/contractStatus.js
  Application/controllers/applyOrderController.js
  Application/controllers/contractController.js
  Application/public/js/cancelLightPlan-page.js
  Application/public/js/lightPlan-page.js
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/helpers/OrderData.js
  Application/views/cancelLightPlan.pug
  Application/views/layout.pug
  Application/views/lightPlan.pug
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

DBコントローラーの修正
  Application/controllers/applyOrderController.js
  Application/controllers/contractController.js
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/helpers/OrderData.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

新規ファイルの作成
  Application/controllers/applyOrderController.js
  Application/public/js/common/common.js
  Application/public/js/introductionSupport-page.js
  Application/routes/helpers/OrderData.js
  Application/routes/receiveIntroductionSupport.js
  Application/views/introductionSupport.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

導入支援サービス用修正(パス追加)
  Application/app.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ポータル画面に導線仮配置(導入支援サービス用修正)
  Application/views/portal.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ステータス管理定数宣言(ライトプラン,導入支援サービス共用)
  Application/constants/contractStatus.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ライトプラン(#4532)との共通部修正
  Application/controllers/applyOrderController.js
  Application/controllers/contractController.js
  Application/routes/helpers/OrderData.js
  Application/views/layout.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

ソースの整理
  Application/controllers/applyOrderController.js
  Application/routes/applyLightPlan.js
  Application/routes/cancelLightPlan.js
  Application/routes/helpers/OrderData.js
  Application/views/cancelLightPlan.pug
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Renamed OrderData.js to orderData.js
  Application/routes/helpers/orderData.js
Due: azure-pipelines-unittests.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-unittests.yml: any of: *, but not: Documents, Tests
  azure-pipelines.yml: any of: Application, but not: Documents, Tests, *.yml
